<div class="container-fluid" ng-controller="inventoryListController" ng-init="init()">
	<h1 class="page-header">Inventory</h1>
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Inventory</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapter" selectable="false" enable-edit="false" enable-delete="false">
				<columns>
					<itemname header="Itemname"></itemname>
					<quantity header="Quantity" align="right"></quantity>
					<remainingQuantity header="Remaining" align="right"></remainingQuantity>
					<customPrice header="Custom Price" align="right" format="currency"></customPrice>
					<buyingPrice header="Buying Price" align="right" format="currency"></buyingPrice>
					<retailSellingPrice header="Retail Price" align="right" format="currency"></retailSellingPrice>
					<wholeSellingPrice header="Wholesale Price" align="right" format="currency"></wholeSellingPrice>
					<easyPaymentSellingPrice header="Easy Pay Price" align="right" format="currency"></easyPaymentSellingPrice>
				</columns>
			</grid>
		</div>
	</div>
</div>