<div class="container-fluid" ng-controller="inventoryDetailsController" ng-init="init()">
    <h1 class="page-header">Inventory Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/inventory/list">Inventory</a></li>
        <li class="active">Details</li>
    </ol>

    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-container">
            <form novalidate name="formInventory">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Item</label>
                        <input type="text" ng-model="inventoryItem.itemname" class="form-control input-sm" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>GRN Code</label>
                        <input type="text" ng-model="inventoryItem.grnCode" class="form-control input-sm" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Quantity</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.quantity" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Remaining Quantity</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.remainingQuantity" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Buying Price</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.buyingPrice" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Retail Price</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.retailSellingPrice" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Wholesale Price</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.wholeSellingPrice" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Easy Pay Price</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.easyPaymentSellingPrice" readonly />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Inventory Added Date</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.receivedDate" readonly />
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Record Added By</label>
                        <input class="form-control input-sm" type="text" ng-model="inventoryItem.createdBy" readonly />
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-8 text-right">
                        <button type="button" class="btn btn-sm btn-default" ng-click="backToList()">Back to List</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>