<div class="container-fluid" ng-controller="customerProductCreateController" ng-init="init()">
    <h1 class="page-header">New Custom Product</h1>
    <ol class="breadcrumb">
        <li><a href="#/custom-product/list">Custom Product</a></li>
        <li class="active">New Custom Product</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label required>Product</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="customerProduct.productId" data-allow-clear="true"
                            ajax-data-url="/api/products/search/active" ajax-data-cache="true" config="productSearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label required>Customer</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="customerProduct.customerId" data-allow-clear="true"
                            ajax-data-url="/api/customers/search" ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Line Route</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="customerProduct.lineId" data-allow-clear="true" ajax-data-url="/api/lines/search"
                            ajax-data-cache="true" config="linesSearchConfig" style="width:100%">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sales Rep</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="customerProduct.employeeId" data-allow-clear="true"
                            ajax-data-url="/api/employees/search/active" ajax-data-cache="true" config="empoyeeSearchConfig"
                            style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Period From</label>
                        <input type="date" ng-model="customerProduct.periodFrom" class="form-control">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Period To</label>
                        <input type="date" ng-model="customerProduct.periodTo" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="customerProduct.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                <!--<hr>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive" ng-if="customerProduct.items.length > 0">
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <td>Item Code</td>
                                        <td>Inventory Code</td>
                                        <td>Name</td>
                                        <td class="text-right">Price</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-right">Sub Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in customerProduct.items track by $index">
                                        <td ng-bind="::item.itemCode"></td>
                                        <td ng-bind="::item.inventoryCode"></td>
                                        <td ng-bind="::item.itemName"></td>
                                        <td class="text-right" ng-bind="::item.price | number : 2"></td>
                                        <td class="pull-right" ng-bind="::item.quantity"></td>
                                        <td class="text-right" ng-bind="::item.subTotal | number : 2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(customerProduct)">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>