<div class="container-fluid" ng-controller="employeeListController" ng-init="init()">
    <h1 class="page-header">Employees</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Employees</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="true" enable-edit="true" enable-delete="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                    <action text="Activate" command="enable"></action>
                    <action text="Deactivate" command="disable"></action>
                </actions>
                <columns>
                    <employeeId header="Code"></employeeId>
                    <name header="Name"></name>
                    <nic header="NIC"></nic>
                    <email header="Email"></email>
                    <mobile1 header="Mobile"></mobile1>
                </columns>
            </grid>
        </div>
    </div>
</div>