<div class="container-fluid hidden-print" ng-controller="deliveryTrackingController" ng-init="init()">
    <h1 class="page-header">Item Delivery Tracking</h1>
    <ol class="breadcrumb">
        <!-- <li class="active">Item Delivery Tracker</li> -->
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">

                    <div class="col-sm-3 form-group">
                    <label>Item Status</label>
                    <select class="form-control" data-placeholder="Please select" data-allow-clear="true" searchable="false" ng-model="deliveryStatus">
                        <option value=0>All</option>
                        <option value="1">Ordered</option>
                        <option value="2">Loaded</option>
                        <option value="3">Delivered</option>
                        <option value="4">Returned</option>   
                    </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>&nbsp;</label>

                        <button type="button" class="btn btn-block btn-primary" ng-click="getItemListByTackingStatus()">Load Items</button>
                        <!-- <button type="button" class="btn btn-block btn-primary" ng-click="getAllItemList()">Load All Items</button> -->
                    </div>
                </div>
                <hr ng-if="loadingList.length > 0">
                <div class="row" ng-if="showNoResultMassage">
                    <div class="col-sm-12">Woohoo! You've delivered all the customer orders.</div>
                </div>
                <div class="row" ng-if="isLoadingItems">
                    <div class="col-md-12">
                        <div class="spinner sm"></div>
                    </div>
                </div>
                <div class="row" ng-if="deliveredList.length > 0">
                    <div class="col-sm-12">
                        <label>Issued Items</label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Customer</td>
                                        <td>Item Code</td>
                                        <td>Item Name</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-right">Price</td>
                                        <td>Ordered As</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in deliveredList track by $index">
                                        <th class="table-select-column">
                                            <input type="checkbox" ng-model="item.isSelected" />
                                        </th>
                                        <td ng-bind="item.customerName"></td>
                                        <td ng-bind="item.itemCode"></td>
                                        <td ng-bind="item.itemName"></td>
                                        <td class="text-right" ng-bind="item.quantity"></td>
                                        <td class="text-right" ng-bind="item.customProductPrice | number : 2"></td>
                                        <td ng-bind="item.itemOrderedAs"></td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar" ng-if="deliveredList.length > 0">
                    <div class="col-sm-12 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges()">Mark as Delivered</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id='print'></div>