<div class="container-fluid" ng-controller="loginController" ng-init="init()">
    <div class="login-wrapper-container">
        <div class="login-wrapper">
            <div class="login-box">
            <div ng-if="!loadingConfig">
                <div class="application-logo">
                    <img src="images/logo.svg" />
                </div>
                <div class="login-page-header">
                    <h1>Welcome, <span>Please login</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="login-config-loader" ng-if="loadingConfig"></div>
                    <div class="login-panel" ng-if="!loadingConfig">
                        <form novalidate name="frmLogin">
                            <div class="form-group" ng-class="{'has-error' : (frmLogin.$submitted && frmLogin.username.$error.required)}">
                                <label for="username">Username</label>
                                <input type="text" class="form-control input-lg" name="username" ng-model="user.username" required="" autocomplete="off"
                                />
                                <span class="help-block" ng-if="frmLogin.$submitted && frmLogin.username.$error.required">Username is required</span>
                            </div>
                            <div class="form-group" ng-class="{'has-error' : (frmLogin.$submitted && frmLogin.password.$error.required)}">
                                <label for="password">Password</label>
                                <input type="password" class="form-control input-lg" name="password" ng-model="user.password" required="" autocomplete="off"
                                />
                                <span class="help-block" ng-if="frmLogin.$submitted && frmLogin.password.$error.required">Password is required</span>
                            </div>
                            <div class="login-error" role="alert" ng-if="errorMessage !== null" ng-bind="errorMessage">
                            </div>
                                <button type="submit" btn-loading="loading" btn-loading-text="Please wait..." btn-loading-spinner="true" class="btn-login ok" ng-click="submit(user)">Login</button>
                                <button type="reset" class="btn-login cancel" ng-click="reset(frmLogin)">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>