

/*Light Blue*/

$color-palette-primary50:#E1F5FE;
$color-palette-primary100:#B3E5FC;
$color-palette-primary200:#81D4FA;
$color-palette-primary300:#4FC3F7;
$color-palette-primary400:#29B6F6;
$color-palette-primary500:#03A9F4;
$color-palette-primary600:#039BE5;
$color-palette-primary700:#0288D1;
$color-palette-primary800:#0277BD;
$color-palette-primary900:#01579B;
$color-palette-primaryA100:#01579B;

/*Heighlight color*/

$color-palette-primaryA200:#40C4FF;
$color-palette-primaryA400:#00B0FF;
$color-palette-primaryA700:#00B0FF;

$color-palette-danger50:#FFEBEE;
$color-palette-danger100:#FFCDD2;
$color-palette-danger200:#EF9A9A;
$color-palette-danger300:#E57373;
$color-palette-danger400:#EF5350;
$color-palette-danger500:#F44336;
$color-palette-danger600:#E53935;
$color-palette-danger700:#D32F2F;
$color-palette-danger800:#C62828;
$color-palette-danger900:#B71C1C;
$color-palette-dangerA100:#FF8A80;
$color-palette-dangerA200:#FF5252;
$color-palette-dangerA400:#FF1744;
$color-palette-dangerA700:#D50000;


$color:#000000;
$base-bg-color:#fafafa;
$base-highlight-color:#2b425b;
$app-dark-color:#ffffff;
$siderbar-bg-color:#f3f3f3;
$border-color: #dddddd;
$border-highlight-color : #03A9F4;

@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
    transition-property: $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: 0 !important;
}

.gradient-right-border {
    border-right: 3px solid transparent;
    border-top: 0 none;
    border-bottom: 0 none;
    border-left: 0 none;
    -moz-border-image: -moz-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to bottom, #3acfd5 0%, #3a4ed5 100%);
    border-image-slice: 1;
}
.shadow{
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.1)
}