@import './base';

.cards{
    margin:0;
    padding:0;
    list-style: none;

    .card{
        margin:10px;
        padding:5px;
        display: inline-block;
        vertical-align: top;
        width:200px;
        height:200px;
        background:#ffffff;
        border-radius: 3px;
        border:1px solid $border-color;
        @extend .shadow;
        position: relative;

        .title{
            font-size: 20px;
        }

        .card-badge{
            font-size:9px;
            text-transform: uppercase;
            display: inline-block;
            margin: 2px 0;
            padding: 3px 10px;
            
            &.danger{
                color: $color-palette-dangerA700;
                border:1px solid $color-palette-dangerA100;
            }
        }

        .list{
            margin: 0;
            padding: 0;
            list-style: none;

            li{
                margin: 0;
                padding: 5px;
                display: block;
                border-bottom: 1px solid $border-color;
                &:first{
                    border-color: transparent;
                }

                .small-text{
                    font-size:12px;
                }
            }
        }
    }
}

.empty-cards-holder{
    margin:20px 0;
    min-height:150px;

    .header{
        font-size: 18px;
    }
    .message{
        font-size:14px;
        color:lighten(#000000, 50%);
    }
}