@import './base';

.invoice-view{
    .list-group{
        .list-group-item{
            padding:5px 15px;

            .item-overlay{
                display: none;
            }

            &:hover{
                position: relative;
                .item-overlay{
                    background:#ffffff;
                    display: inline-block;
                    position: absolute;
                    top:0;
                    right:0;
                    bottom:0;
                    width: 100px;
                    padding:5px;
                    border-left:1px solid #dddddd;
                    text-align: center;

                    .btn-default{
                        padding:5px 10px;
                    }
                }   
            }
        }

        .item-code{
            font-size:13px;
        }
        .item-price{
            font-size:12px;
        }
        .item-name{
            font-size:14px;
            font-weight: 500;
        }
    }

    .item-search-results{
        .spinner{
            margin:30px 45%;
        }
    }
}