@import './base';

.order-taking-view{
    .terms{
        margin: 0;
        padding: 0;
        list-style: none;

        .term{
            display: block;
            margin: 5px;
            padding: 0;

            .term-name{
                font-size: 16px;
                display: block;
                margin:5px 0;
                border-bottom: 1px solid $border-color;
            }
            .composite-item-container{
                display: block;
                min-height:160px;

                .composite-item{
                    display: inline-block;
                    padding: 10px;
                    width:150px;
                    height:150px;
                    border:1px solid $border-color;
                    background:#ffffff;
                    @extend .shadow;
                    position: relative;

                    .composite-item-label{
                        font-size:20px;
                        margin:10px 0;
                    }

                    .composite-item-footer{
                        position: absolute;
                        bottom: 0;
                        right:0;
                        left:0;
                        padding:10px;
                        border-top:1px solid $border-color;
                    }

                    .card-badge{
                        font-size:9px;
                        text-transform: uppercase;
                        display: inline-block;
                        padding: 3px 10px;
                        
                        &.danger{
                            color: $color-palette-dangerA700;
                            border:1px solid $color-palette-dangerA100;
                        }
                    }
                }
            }
        }
    }
    .delivered{
        border:2px solid #43ff5a;
    }

    .returned{
        border:2px solid #ff4343;
    }
}