@import './base';

.btn {
    line-height: 1.7em;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 1px;
    &.btn-compac {
        padding-left: 10px;
        padding-right: 10px;
    }
    &.btn-default {
        background: #ffffff;
    }
    &.btn-primary {
        background: $color-palette-primary900;
    }
    &.btn-primary-outline {
        background: #ffffff;
        color: $color-palette-primary900;
        border-color: $color-palette-primary900;
    }
    &.btn-warning {
        background: $color-palette-primaryA100;
    }
    &.btn-danger {
        background: $color-palette-primaryA100;
    }
    &.btn-info {
        background: $color-palette-primaryA400;
    }
}
.floating-button{
    color:#ffffff;
    background: $color-palette-primary700 url('../images/add.svg') no-repeat center;
    background-size: 25px 25px;
    box-shadow: 2px 3px 10px 0px #777;
    
    &:hover{
        color:#ffffff;
        background-color:$color-palette-primary900;
    }
}
.form-window {
    border: 1px solid $border-color;
    background-color: #ffffff;
    margin: 5px;
    padding: 20px;
    &.form-xs {
        max-width: 320px;
    }
    &.form-sm {
        max-width: 500px;
    }
    &.form-md {
        max-width: 768px;
    }
    .form-actions{
        border-bottom: 1px solid $border-color;
        padding-bottom:10px;
        margin-bottom: 10px;
    }
    .form-section {
        display: block;
        clear: both;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 600;
        &:after {
            content: "";
            display: table;
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .form-button-bar {
        display: block;
        padding: 20px 0;
        margin-top: 15px;
        border-top: 2px solid $border-color;
    }
    label {
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 600;

        &[required]:after{
            display:inline-block;
            margin-left: 10px;
            content: " * ";
            font-size:14px;
            color:#ff0000;
        }
    }
    .has-error {
        label {
            color: $color-palette-dangerA700;
        }
        .help-block {
            color: $color-palette-dangerA700;
        }
        .control-label {
            color: $color-palette-dangerA700;
        }
        .radio {
            color: $color-palette-dangerA700;
        }
        .checkbox {
            color: $color-palette-dangerA700;
        }
        .radio-inline {
            color: $color-palette-dangerA700;
        }
        .checkbox-inline {
            color: $color-palette-dangerA700;
        }
        .form-control, .select2-selection {
            border-color: $color-palette-dangerA700;
            box-shadow: none;
            &:focus {
                border-color: $color-palette-danger900;
                box-shadow: none;
            }
        }
        .input-group-addon {
            color: $color-palette-dangerA700;
            background-color: #f2dede;
            border-color: $color-palette-dangerA700;
        }
        .form-control-feedback {
            color: $color-palette-dangerA700;
        }
        &.radio label {
            color: $color-palette-dangerA700;
        }
        &.checkbox label {
            color: $color-palette-dangerA700;
        }
        &.radio-inline label {
            color: $color-palette-dangerA700;
        }
        &.checkbox-inline label {
            color: $color-palette-dangerA700;
        }
    }
    .help-block {
        font-size: 12px;
        line-height: 1.8em;
    }
}

.form-control {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    &:focus {
        border-color: $color-palette-primaryA400;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($color-palette-primary400, 0.75);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba($color-palette-primary400, 0.75);
    }
    &.primary-outline {
        color: $color-palette-primary900;
        border-color: $color-palette-primary900;
    }
}

.table {
    background-color: #ffffff;
    >thead {
        color: #ffffff;
        background: $color-palette-primary900;
        >tr {
            >th {
                font-weight: 100;
                padding: 15px 8px;
            }
        }
    }
    >tbody>tr.highlight {
        background-color: $color-palette-primary50;
    }
    &.table-border-outline {
        border: 1px solid $border-color;
        >thead>tr {
            >th {
                border-bottom-width: 1px;
            }
            >td {
                border-bottom-width: 1px;
            }
        }
    }
    &.table-hover {
        >thead>tr>th:hover {
            background-color: $color-palette-primary800;
        }
        >tbody>tr:hover {
            background-color: $color-palette-primary50;
        }
    }
    &.table-bordered {
        border: 1px solid $border-color;
        >thead>tr {
            >th {
                border: 1px solid $border-color;
            }
            >td {
                border: 1px solid $border-color;
            }
        }
        >tbody>tr {
            >th {
                border: 1px solid $border-color;
            }
            >td {
                border: 1px solid $border-color;
            }
        }
        >tfoot>tr {
            >th {
                border: 1px solid $border-color;
            }
            >td {
                border: 1px solid $border-color;
            }
        }
    }

    .table-action-column{
        .btn-icon{
            outline:1px solid transparent;
            &:hover{
                outline-color: $color-palette-primary900;
            }
        }
    }
}

.pagination {
    margin: 5px 0 50px 0;
    border-radius: 1px;
    >li>a,
    >li>span {
        color: #555;
        background-color: #fff;
        border-color: $border-color;
    }
    >li>a:hover,
    >li>span:hover,
    >li>a:focus,
    >li>span:focus {
        background-color: $color-palette-primary50;
        border-color: $border-color;
    }
    .paging-counts span {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        color: #555;
    }
    >.disabled {
        opacity: 0.5;
    }
}


/* select 2 */

.select2-container {
    .select2-selection--single {
        background-color: #fff;
        border: 1px solid $border-color;
        border-radius: 1px;
        height: 34px;
        .select2-selection__rendered {
            color: #555;
            line-height: 34px;
        }
        .select2-selection__clear {
            height: 32px;
            width: 34px;
            outline: 1px solid $border-color;
            margin-right: 14px;
            text-align: center;
        }
        .select2-selection__arrow {
            border-left: 1px solid $border-color;
            border-top-right-radius: 1px;
            border-bottom-right-radius: 1px;
            height: 32px;
            width: 34px;
            background: none;
            background-color: #fff;
        }
    }

    .not-available{
        p{
            text-decoration: line-through;
            padding:0;
            margin:0;
        }
        .oos-symbol-container{
            color:$color-palette-dangerA700;
            display: inline-block;
            margin-right:5px;
            font-size: 9px;
            text-transform: uppercase;
            background:$color-palette-danger50;

            .fa{
                font-size: 12px;
            }
        }
    }

    .available {
        display: inline-block;
        font-size: 11px;
    }
}

.select2-container--default {
    .select2-results__option--highlighted[aria-selected] {
        color: #333;
        background-color: $color-palette-primary50;
    }
    .select2-results__option[aria-selected=true] {
        color: #ffffff;
        background-color: $color-palette-primaryA100;
    }
}

.select2-dropdown {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: 1px;
}


/* Context menu */

.context {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: 1px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            margin: 0;
            padding: 5px 10px;
            cursor: pointer;
            &.seperator {
                padding: 0;
                border-top: 1px solid $border-color;
                cursor: default;
            }
            &:hover {
                background-color: $color-palette-primary50;
            }
        }
    }
}
