/*
    BASED ON
    http://flatfull.com/themes/angulr/html/
    http://www.themeon.net/nifty/v2.5/forms-general.html
    ICONS
    http://www.flaticon.com/packs/teamwork-2
    http://www.flaticon.com/packs/essential-set-2/1
    https://livicons.com/icons-lines
    http://www.flaticon.com/packs/business-set-2/2
    http://www.flaticon.com/packs/business-seo
*/

@import './_base';
@import './theme';

/*angular native styles*/

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

html {
    background-color: $base-bg-color;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.spinner{
    display: inline-block;
    border-style:solid;
    border-color:#3acfd5;
    border-top-color: #3a4ed5;
    border-radius: 50%;
    width:10px;
    height:10px;
    border-width: 1px;

    animation-name: rotate; 
    animation-duration: 0.7s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    &.sm{
        width:30px;
        height:30px;
        border-width: 3px;
    }

    &.md{
        width:50px;
        height:50px;
        border-width: 6px;
    }

    &.lg{
        width:70px;
        height:70px;
        border-width: 8px;
    }
}

.ui-draggable-handle{
    opacity: 0.8;
    border-color:$border-highlight-color !important;
    @extend .shadow;
}

/*bootstrap reset*/

.btn,
.btn-lg,
.btn-group-lg>.btn,
.btn-sm,
.btn-group-sm>.btn,
.btn-xs,
.btn-group-xs>.btn {
    /*border-radius: 2px;*/
}

.modal-dialog {
    &.xs{
        width: 310px;
    }

    &.sm{
        width: 400px;
    }
    &.md{
        width: 500px;
    }
}
.application {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        width: inherit;
        background-color: $base-bg-color;
        border: inherit;
        content: "";
    }
    &.app-header-fixed {
        padding-top: 50px;
        .app-header {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1025;
            border-radius: 0;
        }
    }
    .app-aside {
        width: 60px;
    }
    .app-aside {
        $text-color: #212121;
        float: left;
        color: $text-color;
        background-color: $siderbar-bg-color;
        &:before {
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: -1;
            width: inherit;
            background-color: inherit;
            border: inherit;
            content: "";
        }
        ul {
            &.menu-bar {
                margin: 0;
                padding: 0;
                display: table;
                width: 100%;
                color: $text-color;
                font-weight: 100;
                a {
                    color: $text-color;
                }
                >li {
                    display: table-row;
                    list-style: none;
                    position: relative;
                    .icon-placeholder {
                        text-align: center;
                        vertical-align: middle;
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        cursor: pointer;
                        &:hover {
                            color: $text-color;
                            background: darken($siderbar-bg-color, 5%);
                            .icon {
                                width: 40px;
                                height: 40px;
                                margin: 10px;
                                background-size: 30px 30px;
                            }
                        }
                    }
                    .icon {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        margin: 15px;
                    }
                    .icon {
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 25px 25px;
                        &.menu {
                            background-image: url(/images/menu.svg);
                        }
                        &.dashboard {
                            background-image: url(/images/dashboard.svg);
                        }
                        &.lines {
                            background-image: url(/images/lines.svg);
                        }
                        &.customers {
                            background-image: url(/images/customers.svg);
                        }
                        &.suppliers {
                            background-image: url(/images/suppliers.svg);
                        }
                        &.items {
                            background-image: url(/images/items.svg);
                        }
                        &.sales {
                            background-image: url(/images/sales.svg);
                        }
                        &.grn{
                            background-image: url(/images/grn.svg);
                        }
                        &.products{
                            background-image: url(/images/products.svg);
                        }
                        &.inventory{
                            background-image: url(/images/inventory.svg);
                        }
                    }
                    .mega-menu{
                        position: fixed;
                        top:50px;
                        bottom:0px;
                        z-index: 5000;
                        display:none;
                        width:250px;
                        margin-left:60px;
                        padding: 15px;
                        overflow:auto;
                        background: darken($siderbar-bg-color, 5%);
                        border-right:1px solid darken($siderbar-bg-color, 10%);

                        ul{
                            list-style: none;
                            margin: 0;
                            padding:5px 10px;
                            li{
                                padding: 5px;

                                &.mega-menu-header{
                                    padding-left:0;
                                    font-weight: 600;
                                }
                            }
                        }
                    }
                    >ul.submenu {
                        position: absolute;
                        z-index: 5000;
                        margin: 0;
                        margin-left: -1px;
                        padding: 0;
                        display: none;
                        background: darken($siderbar-bg-color, 5%);
                        width: 200px;
                        list-style: none;
                        li {
                            padding: 10px 30px;
                            margin: 0;
                        }
                        li.submenu-header {
                            font-weight: 600;
                            border-bottom: 1px solid darken($siderbar-bg-color, 10%);
                        }
                        li.submenu-item {
                            color: #000000;
                            &:hover {
                                background: darken($siderbar-bg-color, 5%);
                            }
                        }
                    }
                    &.tab:hover,
                    &.tab:active {
                        >ul.submenu {
                            display: inline-block;
                        }

                        .mega-menu{
                            display: block;
                        }
                    }
                    .menu-seperator {
                        display: inline-block;
                        width: 57px;
                        height: 1px;
                        margin: 0;
                        background: darken($siderbar-bg-color, 10%);
                    }
                    &.tab {
                        &.menu-trigger {
                            background:darken($siderbar-bg-color, 5%)
                        }
                    }
                }
            }
        }
    }
    .app-content {
        height: 100%;
        margin-left: 60px;
        &:before,
        &:after {
            display: table;
            content: " ";
        }
        &:after {
            clear: both;
        }
        .app-content-body {
            float: left;
            width: 100%;
            padding-bottom: 50px;
        }
    }
}

.navbar {
    margin: 0;
    border-width: 0;
    border-radius: 0;
    min-height: 50px;
    
    .navbar-header {
        a {
            color: #ffffff;
            text-shadow: none;
        }
        .navbar-brand {
            padding: 5px;
            margin-left: 5px;
            img {
                width: 40px;
            }
        }
        .navbar-toggle {
            border: none 0;
            border-radius: 0;
            .icon-bar {
                background: #004c84;
            }
            .fa-bars {
                color: #ffffff;
            }
        }
    }
    .brand-name {
        line-height: 1em;
        font-size: 17px;
    }
    .dropdown-menu {
        padding: 0;
        margin: 0;
        font-size: 14px;
        background-color: #222;
        border: 0px none;
        border-radius: 1px;
        -webkit-box-shadow: none;
        box-shadow: none;
        li {
            >a {
                padding: 10px 25px;
                color: #ffffff;
                &:hover,
                &:focus {
                    color: darken(#ffffff, 10%);
                    background-color: #000000;
                }
            }
        }
    }
}

.app-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1005;
    margin-left: 60px;
    font-size: 10px;
    .wrapper {
        padding: 15px;
        &.bg-light {
            color: #58666e;
            background-color: ffffff;
        }
    }
}

.inner-container {
    display: block;
    &.loading {
        background: transparent url('../images/rolling.gif') no-repeat center;
        & * {
            display: none;
        }
    }
}

.search-popup {
    width: 700px;
    .modal-body {
        padding: 0 10px;
    }
}

.modal-body {
    &.loading {
        min-height: 200px;
        background: transparent url('../images/rolling.gif') no-repeat center;
        & * {
            display: none;
        }
    }
}

.top-buffer {
    margin-top: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.map-canvas {
    height: 200px;
}


/*helpers*/

.page-header {
    margin: 15px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: $base-highlight-color;
}

.breadcrumb {
    background: none;
    border-radius: 0;
    padding: 5px 0;
}

.table-responsive {
    tr.pointer {
        cursor: pointer;
    }
    tr.inactive {
        color: darkgray;
    }
    tr.selected {
        background-color: lighten(darkgray, 30%);
    }
}

.img-block img {
    width: auto;
    max-height: 100px;
    display: inline-block;
}

.table {
    .group-header {
        font-size: 15px;
        text-transform: capitalize;
    }
    .table-select-column {
        width: 30px;
    }
    .table-action-column {
        width: 35px;
        padding: 0;
    }
    .table-action-column {
        width: 35px;
        padding: 0;
        .btn-icon {
            margin-top: 2px;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .dropdown-toggle {
        padding: 10px;
        background: transparent;
        color: #000000;
        border-radius: 0;
        &:hover,
        &:focus {
            background: #ffffff;
            box-shadow: none;
        }
    }
}

.floating-button {
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 1000;
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 55px;
    border-radius: 25px;
    box-shadow: 2px 3px 10px 0px #777;
}

.btn-tanasparent {
    background: none;
    border: 0px none transparent;
}


/*login-page*/

.login-page {
    background: #0c1217;
    .container-fluid {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .login-wrapper-container {
        display: table;
        width: 100%;
        height: 100%;
        .login-wrapper {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }
    }
    .login-box {
        max-width: 350px;
        padding: 20px;
        margin: 0 auto;
        background: #ffffff;
        border: 2px solid #02000c;
    }
    .application-logo {
        display: block;
        height: 80px;
        text-align: center;
        img {
            max-height: 100%;
        }
    }
    .login-page-header {
        color: $base-highlight-color;
        text-align: center;
        padding: 10px 0;
        h1 {
            font-size: 25px;
            font-weight: bold;
            span {
                font-size: 18px;
                font-weight: 100;
            }
        }
    }
    .login-config-loader {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #ffffff url('../images/rolling.gif') no-repeat center;
    }
    .login-panel {
        text-align: left;
        max-width: 300px;
        margin: 0 auto;
        input:-webkit-autofill {
            -webkit-text-fill-color: #000000;
            -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
        }
        .form-group {
            margin: 10px 0 30px 0;
            label {
                font-size: 12px;
                font-weight: bold;
                text-transform: uppercase;
                color: $base-highlight-color;
            }
        }
        .form-control {
            color: $base-highlight-color;
            background: transparent;
            outline: none;
            box-shadow: none;
            border: 3px solid $base-highlight-color;
            border-radius: 30px;
        }
        .login-error {
            font-size: 14px;
            padding: 15px;
            color: #ff0000;
            text-align: center;
        }
        .btn-login {
            height: 46px;
            padding: 10px 16px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.3333333;
            border-radius: 30px;
            min-width: 100%;
            text-transform: uppercase;
            &.cancel {
                color: $base-highlight-color;
                background: transparent;
                outline: none;
                box-shadow: none;
                border: 3px solid transparent;
                &:hover,
                &active {
                    border: 3px solid $base-highlight-color;
                }
            }
            &.ok {
                color: #ffffff;
                background: $base-highlight-color;
                outline: none;
                box-shadow: none;
                border: none;
                margin-bottom: 25px;
                &:hover,
                &active {
                    background: darken($base-highlight-color, 40%);
                }
            }
        }
    }
}


/*
**********************************************
               ** NOTIFICATIONS **
**********************************************
*/

.message-pool {
    &.default {
        display: block;
        z-index: 9999;
        padding: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 61px;
        .message {
            display: block;
            padding: 15px 40px 15px 15px;
            background: #f0f0f0;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #d7d7d7;
            color: #4d4d4d;
            font-size: 14px;
            position: relative;
            .message-header {
                font-size: 16px;
                padding-bottom: 10px;
            }
            .message-text {
                display: inline-flex;
                .type {
                    text-transform: capitalize;
                    font-weight: bold;
                }
            }
            .icon {
                font-size: 20px;
                margin-right: 10px;
            }
            .close:hover {
                color: #4d4d4d !important;
            }
        }
        .error.message {
            padding: 20px;
            background: #fff0f1;
            border-bottom-color: #fcd4d7;
            .close {
                display: none;
            }
            .icon {
                color: #d90012;
            }
        }
        .warning.message {
            background: #fdf6b6;
            border-bottom-color: #f2dc89;
            .close {
                display: none;
            }
            .icon {
                color: #ee802b;
            }
        }
        .success.message {
            background: #e2fbd0;
            border-bottom-color: #c5e3af;
            .icon {
                color: #00a431;
            }
            .close {
                color: #a5bf91;
            }
        }
        .info.message {
            background: #e8f8fc;
            border-bottom-color: #b8e4f0;
            .icon {
                color: #2480b3;
            }
            .close {
                color: #91b6bf;
            }
        }
    }
}

.message-pool {
    $darkenAmount: 5%;
    &.flat-ui {
        display: block;
        z-index: 9999;
        padding: 0;
        position: fixed;
        bottom: 0;
        opacity: 0;
        right:30px;
        &.opening {
            opacity: 1;
            bottom: 30px;
            @include transition(bottom 0.5s, opacity 0.3s);
        }
        .message {
            display: block;
            padding: 15px 40px 15px 15px;
            background: #f0f0f0;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #d7d7d7;
            color: #4d4d4d;
            font-size: 16px;
            position: relative;
            min-width: 320px;
            .message-header {
                font-weight: bold;
                font-size: 14px;
                padding-bottom: 10px;
            }
            .message-text {
                display: inline-flex;
                .type {
                    text-transform: capitalize;
                    font-weight: bold;
                }
            }
            .icon {
                font-size: 20px;
                margin-right: 10px;
            }
            .close:hover {
                color: #000000 !important;
            }
        }
        .error.message {
            color: #420706;
            background: darken(#fff0f1, $darkenAmount);
            border-bottom-color: darken(#fcd4d7, $darkenAmount);
            .icon {
                color: darken(#d90012, $darkenAmount);
            }
        }
        .warning.message {
            background: darken(#fdf6b6, $darkenAmount);
            border-bottom-color: darken(#f2dc89, $darkenAmount);
            .icon {
                color: darken(#ee802b, $darkenAmount);
            }
        }
        .success.message {
            color: #000000;
            background: darken(#e2fbd0, $darkenAmount);
            border-bottom-color: darken(#c5e3af, $darkenAmount);
            .icon {
                color: darken(#00a431, $darkenAmount);
            }
            .close {
                color: darken(#a5bf91, $darkenAmount);
            }
        }
        .info.message {
            background: darken(#e8f8fc, $darkenAmount);
            border-bottom-color: darken(#b8e4f0, $darkenAmount);
            .icon {
                color: darken(#2480b3, $darkenAmount);
            }
            .close {
                color: darken(#91b6bf, $darkenAmount);
            }
        }
    }
}

.message .close {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #333333;
    font-size: 14px;
}


/* Context menu */

.context {
    position: absolute;
    min-width: 200px;
    height: auto;
    padding: 0;
    margin: 0;
}

.widget{
    display:block;
    min-height:150px;
    opacity:1;
    margin-top:0;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    padding:20px;
    background:#ffffff;

    @include transition(margin-top 0.4s ease-in, opacity 0.5s ease-out);

    &.loading{
        opacity:0;
        margin-top:15px;
    }

    &.maximize{
        position: fixed;
        top:100px;
        right:12px;
        bottom:50px;
        left:75px;
        z-index:6000;

        .panel.scrollable{
            max-height:95%;
            overflow-y: auto;
        }
    }

    .header-wrapper{
        display: block;
        font-size:14px;
        text-transform: uppercase;
        font-weight: 500;
        padding:5px 0;
        
        button{
            font-size:11px;
        }
    }
    .panel{
        &.panel-default{
            border-color:transparent;
        }
        &.scrollable{
            max-height:200px;
            overflow-y: auto;
        }
    }

    .table{
        tbody{
            border-top-width: 0;
            border-bottom-width: 0;
        }
    }
}

#print .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

#print .header {
  padding-bottom: 10px;
  text-align: center;
}

#print .header .logo{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding-bottom: 10px;
}

/*********** imports ***********/
@import './invoice';

@import './cards';

@import './order-taking';
