<div class="container-fluid order-taking-view" ng-init="init()">
    <h1 class="page-header">Order Taking</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li><a href="#/customer/list">Customer</a></li>
        <li><a href="#/order-tracking/list">Order Taking</a></li>
        <li class="active">New</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':isLoading}" ajust-loading>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-window" ng-class="{'form-md':step === 'step1', 'form-lg':step === 'step2',}" ng-switch="step">
                    <!-- Step 1 -->
                    <div class="form-container" ng-switch-when="step1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-section">
                                    Customer
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Name</label>
                                        <p class="form-control-static" ng-bind="customer.name"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>NIC</label>
                                        <p class="form-control-static" ng-bind="customer.nic"></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Route</label>
                                        <p class="form-control-static" ng-bind="customer.lineRoute"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr/>
                                <p><strong>Select a product bellow</strong></p>
                            </div>
                            <div class="col-md-12">
                                <div class="table-responsive" ng-if="products && products && products.length > 0">
                                    <table class="table table-hover table-border-outline">
                                        <thead>
                                            <tr>
                                                <td>Code</td>
                                                <td>Name</td>
                                                <td class="text-right">Amount</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="product in products track by $index" ng-click="selectProduct(product)" ng-class="{'highlight': product.selected}">
                                                <td ng-bind="product.code"></td>
                                                <td ng-bind="product.name"></td>
                                                <td class="text-right" ng-bind="product.amount | number : 2"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-if="products.length === 0">
                                    <strong>Empty !</strong>
                                    <p>No products to display here. Click <a href="#/custom-product/create">here</a> to assign a product</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- Step 2-->
                    <div class="form-container" ng-switch-when="step2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-section">
                                    Custom Products <button type="button" class="btn btn-default pull-right" ng-click="selectAnotherProduct()">Back</button>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="isLoadingCustomProducts">
                            <div class="col-md-12">
                                <div class="spinner sm"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="terms" ng-if="!isLoadingCustomProducts">
                                    <li ng-repeat="term in terms" class="term ui-widget-snap" droppable="onDropProduct(event, ui)">
                                        <div class="term-name" ng-bind="term.name"></div>
                                        <div class="composite-item-container">
                                            <div class="composite-item" ng-repeat="compositeItem in term.items" ng-class="{'delivered': compositeItem.status === 3, 'returned': compositeItem.status === 4 }">
                                                <div>
                                                    <button type="button" class="close" aria-label="Close" ng-if="compositeItem.status == 1 || compositeItem.status == 4" ng-click="removeItemFromMonth(term, compositeItem, $index)"><span aria-hidden="true">&times;</span></button>
                                                </div>

                                                <div class="composite-item-label">{{::compositeItem.label}}</div>
                                                <div class="composite-item-footer">
                                                <span class="tracking-status pull-left" ng-switch="compositeItem.status">
                                                    <span ng-switch-when="1" title="Ordered"><i class="fa fa-check" aria-hidden="true"></i></span>
                                                    <span ng-switch-when="2" title="Loaded"><i class="fa fa-truck" aria-hidden="true"></i></span>
                                                    <span ng-switch-when="3" title="Delivered"><i class="fa fa-check-square text-success" aria-hidden="true"></i></span>
                                                    <span ng-switch-when="4" title="Returned"><i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i></span>
                                                </span>
                                                <span class="card-badge danger pull-right" ng-if="::compositeItem.isFree">FREE</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="cards">
                                    <li ng-repeat="compositeItem in compositeItems" class="card ui-widget-snap draggable-item" composite-item-id="{{ compositeItem.id }}" draggable>
                                        <div class="card-content">
                                            <div class="title">
                                                {{::compositeItem.label}} <span ng-if="::compositeItem.isFree" class="card-badge danger pull-right">Free</span>
                                            </div>
                                            <ul class="list">
                                                <li ng-repeat="item in compositeItem.items | limitTo:3 track by $index">
                                                    <div class="small-text">
                                                        <div>{{item.code }} <span class="pull-right">{{item.quantity}}</span></div>
                                                        <div><strong>{{ item.name }}</strong></div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div ng-if="compositeItem.items.length > 3"><span class="glyphicon glyphicon-option-horizontal pull-right" aria-hidden="true"></span></div>
                                        </div>
                                    </li>
                                </ul>
                                <div ng-if="compositeItems && compositeItems.length === 0">
                                    <strong>Empty !</strong>
                                    <p>No items to display here.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>