<div class="container-fluid" ng-controller="guideController">
    <h1 class="page-header">Style Guide</h1>
    <div class="form-window form-md">
        <form>
            <h2>Form controls</h2>
            <h3>Dropdown</h3>

            <div class="form-group">
                <label>Dropdown {{fruit}}</label>
                <select class="form-control" data-placeholder="Please select" data-allow-clear="true" searchable="false" ng-model="fruit"
                    style="width:100%">
                    <option></option>
                    <option value="1">Apple</option>
                    <option value="2">Mango</option>
                    <option value="3">Grapes</option>
                    <option value="4">Papaya</option>   
                </select>
            </div>

            <div class="form-group">
                <label>Remote dropdown (Custom configuration) {{customer}}</label>
                <select class="form-control" data-placeholder="Please select" ng-model="customer" data-allow-clear="true" ajax-data-url="/api/customers/search"
                    ajax-data-cache="true" config="config" style="width:100%">
                </select>
            </div>

            <div class="form-group">
                <label>Remote dropdown (Automatic) {{customer}}</label>
                <select class="form-control" data-placeholder="Please select" ng-model="customer" data-allow-clear="true" ajax-data-url="/api/customers/lookup"
                    ajax-data-cache="true" style="width:100%">
                </select>
            </div>

            <!--<h3>Context Menu</h3>
            <p>Right click anywhare on the white pannel</p>
            <div context-menu context=".form-window" auto-close="true">
                <ul>
                    <li ng-click="copySelected()">Copy</li>
                    <li>Past</li>
                    <li>View</li>
                    <li>Delete</li>
                    <li class="seperator"></li>
                    <li>Description</li>
                    <li>Mark As Unread</li>
                </ul>
            </div>-->
        </form>
    </div>
</div>