<div class="container-fluid" ng-controller="grnCreateController" ng-init="init()">
    <h1 class="page-header">Goods Recieved Note</h1>
    <ol class="breadcrumb">
        <li><a href="#/grn/list">GRN</a></li>
        <li class="active"> {{ pageTitle }} </li>
    </ol>

    <a class="floating-button" ng-if="isEditing" ng-href="#/grn/create" role="button" data-toggle="tooltip" data-placement="top"
        title="Add New Record">
    </a>

    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form" confirm-on-exit>
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>GRN Code</label>
                        <input type="text" name="grnCode" ng-model="grn.grnCode" class="form-control">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Supplier</label>
                        <div class="input-group">
                            <input type="text" name="supplier" ng-model="grn.supplierName" class="form-control" maxlength="100" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="dropdownCategories">
                                    <li ng-repeat="supplier in suppliers track by $index">
                                        <a href="#" ng-click="setSelectedSupplier($event, supplier)" ng-bind="::supplier.name"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Recieved Date</label>
                        <input type="date" name="receivedDate" ng-model="grn.receivedDate" class="form-control">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Payment Method</label>
                        <div class="input-group">
                            <input type="text" name="paymentMethodName" ng-model="grn.paymentMethodName" class="form-control" maxlength="100" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right scrollable-menu" aria-labelledby="dropdownCategories">
                                    <li ng-repeat="type in paymentTypes track by $index">
                                        <a href="#" ng-click="setSelectedPayType($event, type)" ng-bind="::type.value"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="grn.paymentMethodName === 'Cheque'">
                        <div class="col-sm-3 form-group">
                            <label>Cheque No</label>
                            <input class="form-control" type="text" ng-model="grn.chequeNo" maxlength="30" required/>
                            <span class="help-block" ng-if="form.$submitted && invoice.paymentMethodName === 'Cheque' && form.chequeNo.$error.required">Cheque No is required</span>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Bank</label>
                            <input class="form-control" type="text" ng-model="grn.bank" maxlength="30" required/>
                            <span class="help-block" ng-if="form.$submitted && invoice.paymentMethodName === 'Cheque' && form.bank.$error.required">Bank is required</span>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Branch</label>
                            <input class="form-control" type="text" ng-model="grn.branch" maxlength="30" required/>
                            <span class="help-block" ng-if="form.$submitted && invoice.paymentMethodName === 'Cheque' && form.branch.$error.required">Branch is required</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Description</label>
                        <textarea name="description" ng-model="grn.description" rows="3" class="form-control" maxlength="250"></textarea>
                    </div>
                </div>
                <hr>
                <div ng-if="!isDetails">
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label>Item</label>
                            <select id="itemSearchSelect" class="form-control" data-placeholder="Please select" data-allow-clear="true" ajax-data-url="/api/items/search" ajax-data-cache="true"
                                config="itemSearchConfig" style="width:100%">
                            </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Quantity</label>
                            <input class="form-control" type="text" name="quantity" ng-model="inventoryItem.quantity" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Buying Price</label>
                            <input class="form-control" type="text" name="buyingPrice" ng-model="inventoryItem.buyingPrice" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Retail Price</label>
                            <input class="form-control" type="text" name="retailPrice" ng-model="inventoryItem.retailSellingPrice" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 form-group">
                            <label>Wholesale Price</label>
                            <input class="form-control" type="text" name="wholesalePrice" ng-model="inventoryItem.wholeSellingPrice" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Easy Pay Price</label>
                            <input class="form-control" type="text" name="easyPayPrice" ng-model="inventoryItem.easyPaymentSellingPrice" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label>Custom Price</label>
                            <input class="form-control" type="text" name="customPrice" ng-model="inventoryItem.customPrice" />
                        </div>
                        <div class="col-sm-3 form-group">
                            <label style="visibility: hidden">action</label>
                            <div>
                                <button ng-if="toggleSaveModify" type="button" class="btn btn-block btn-primary-outline" ng-click="addItem()">Add</button>
                                <button ng-if="!toggleSaveModify" type="button" class="btn btn-block btn-primary-outline" ng-click="modifyItem()">Modify</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive" ng-if="grn.inventoryItems.length > 0">
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Qty</th>
                                        <th><small>Buying Price</small></th>
                                        <th><small>Retail Price</small></th>
                                        <th><small>Wholesale Price</small></th>
                                        <th><small>Easy Pay Price</small></th>
                                        <th><small>Custom Price</small></th>
                                        <th ng-if="!isDetails"></th>
                                        <th ng-if="!isDetails"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in grn.inventoryItems track by $index">
                                        <td ng-bind="item.item"></td>
                                        <td ng-bind="item.quantity"></td>
                                        <td ng-bind="item.buyingPrice"></td>
                                        <td ng-bind="item.retailSellingPrice"></td>
                                        <td ng-bind="item.wholeSellingPrice"></td>
                                        <td ng-bind="item.easyPaymentSellingPrice"></td>
                                        <td ng-bind="item.customPrice"></td>
                                        <td class="table-action-column" ng-if="!isDetails">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="selectItem($event, item, $index)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        </td>
                                        <td class="table-action-column" ng-if="!isDetails">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label pull-right">Total</label>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group">
                        <input class="form-control text-right" type="text" ng-model="grn.total" format="currency" readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label pull-right">Discount Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group pull-right">
                        <input class="form-control text-right" ng-keyup="calculateTotal()" type="text" ng-model="grn.discountAmount" format="currency"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <div class="form-group">
                            <label class="control-label pull-right">Net Amount</label>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group pull-right">
                        <input class="form-control text-right" type="text" ng-model="grn.netAmount" format="currency" readonly/>
                    </div>
                </div>
                <hr>
                <div class="row form-button-bar">
                    <div class="col-sm-2 text-left">
                        <button ng-if="isEditing || isDetails" type="button" class="btn btn-default" ng-click="backToList($event)">Back</button>
                        <button type="button" ng-if="showSaveButton" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-10 text-right">
                        <button ng-if="showSaveButton" type="submit" class="btn btn-primary" ng-click="saveChanges(grn)">Save</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="hiddenx">
            <div id="search-customer-popup" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Customers</h4>
                        </div>
                        <div class="modal-body loading" ng-if="customersLoading">
                        </div>
                        <div class="modal-body" ng-if="!customersLoading && customerResult.length === 0">
                            <p>No results found. Try again with diffrent keyword</p>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped" ng-if="!customersLoading && customerResult.length > 0">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>NIC</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="customer in customerResult track by $index" ng-click="selectCustomer(customer)" class="pointer">
                                        <th scope="row" ng-bind="::customer.customerId"></th>
                                        <td ng-bind="::customer.name"></td>
                                        <td ng-bind="::customer.nic"></td>
                                        <td ng-bind="::customer.email"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hiddenx">
            <div id="search-inventory-popup" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Inventory</h4>
                        </div>
                        <div class="modal-body loading" ng-if="inventoryLoading">
                        </div>
                        <div class="modal-body" ng-if="!inventoryLoading && inventoryResult.length === 0">
                            <p>No results found. Try again with diffrent keyword</p>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered table-striped" ng-if="!inventoryLoading && inventoryResult.length > 0">
                                <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Quantity</th>
                                        <th>Retail Price</th>
                                        <th>Wholesale Price</th>
                                        <th>Easy Pay Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="inventory in inventoryResult track by $index" ng-click="selectInventory(inventory)" class="pointer">
                                        <th scope="row" ng-bind="::inventory.itemname"></th>
                                        <td ng-bind="::inventory.quantity"></td>
                                        <td ng-bind="::inventory.retailSellingPrice"></td>
                                        <td ng-bind="::inventory.wholeSellingPrice"></td>
                                        <td ng-bind="::inventory.easyPaymentSellingPrice"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>