<div class="container-fluid" ng-controller="grnListController" ng-init="init()">
	<h1 class="page-header">Goods Recieved Notes</h1>
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">GRN</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapter">
				<columns>
					<grnCode header="GRN Code"></grnCode>
					<receivedDate header="GRN Date"></receivedDate>
					<totalAmount header="Total Amount" align="right" format="currency"></totalAmount>
					<discountAmount header="Discount Amount" align="right" format="currency"></discountAmount>
					<paymentMethodName header="Payment Method" align="center"></paymentMethodName>
					<supplierName header="Supplier Name"></supplierName>
				</columns>
			</grid>
		</div>
	</div>
</div>