<div class="container-fluid hidden-print" ng-controller="itemIssueDetailsController" ng-init="init()">
    <h1 class="page-header">Inventory Issue Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/item-issue/list">Inventory Issue</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label>Sales Rep</label>
                        <input class="form-control" type="text" ng-model="itemIssue.employeeName" readonly/>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Issued Date</label>
                        <input type="text" ng-model="itemIssue.issuedDate" class="form-control" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="itemIssue.otherInfo" rows="2" class="form-control" readonly></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Inventory Issues</label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Item Code</td>
                                        <td>Inventory Code</td>
                                        <td>Name</td>
                                        <td class="text-right">Price</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-right">Sub Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in itemIssue.items track by $index">
                                        <td ng-bind="item.itemCode"></td>
                                        <td ng-bind="item.inventoryCode"></td>
                                        <td ng-bind="item.itemName"></td>
                                        <td class="text-right" ng-bind="item.price | number : 2"></td>
                                        <td class="text-right" ng-bind="item.quantity"></td>
                                        <td class="text-right" ng-bind="item.subTotal | number : 2"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Total</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <input class="form-control text-right" type="text" format="currency" ng-model="itemIssue.total" readonly/>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-2 text-left">
                        <a type="button" class="btn btn-md btn-primary" href="#/item-ssue/create">Create New</a>
                    </div>
                    <div class="col-sm-10 text-right">
                        <button type="button" class="btn btn-md btn-default" ng-click="backToList()">Back to List</button>
                        <button type="button" class="btn btn-md btn-default" ng-click="print()">Print</button>
                        <!--<button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>-->
                    </div>
                </div>
            </form>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to cancel this?'" on-okay="updateDeleteStatus(itemIssue)"></confirm-dialog>
    </div>
</div>
<div id='print'></div>