<div class="container-fluid" ng-controller="issueListController" ng-init="init()">
    <h1 class="page-header">Inventory Issues</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Inventory Issues</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="false" enable-delete="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                </actions>
                <columns>
                    <code header="Code"></code>
                    <employeeName header="Sales Person"></employeeName>
                    <issuedDate header="Issued Date"></issuedDate>
                    <total header="Total" align="right" format="currency"></total>
                </columns>
            </grid>
        </div>
    </div>
</div>