<div class="container-fluid hidden-print" ng-controller="itemLoadingController" ng-init="init()">
    <h1 class="page-header">Loading Sheet</h1>
    <ol class="breadcrumb">
        <li><a href="#/item-issue/list">Item Issue</a></li>
        <li class="active">New Loading Sheet</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label>Sales Rep</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="loadingSheet.employeeId" data-allow-clear="true"
                            ajax-data-url="/api/employees/search/active" ajax-data-cache="true" config="empoyeeSearchConfig"
                            style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Vehicle No</label>
                        <input type="text" ng-model="loadingSheet.vehicleNo" class="form-control">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Loading Date</label>
                        <input type="date" ng-model="loadingSheet.loadingDate" class="form-control">
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Line Route</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="customer.lineId" data-allow-clear="true" ajax-data-url="/api/lines/search"
                            ajax-data-cache="true" config="linesSearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-block btn-primary" ng-click="getItemListByTackingStatus()">Load Deliveries</button>
                    </div>
                </div>
                <hr>
                <div class="row" ng-if="loadingList.length > 0">
                    <div class="col-sm-4 form-group">
                        <label>Customer</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="selectedcustomer" data-allow-clear="true" ajax-data-url="/api/customers/search"
                            ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Inventory</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="selectedInventoryItem" data-allow-clear="true" ajax-data-url="/api/inventory/search/available"
                            ajax-data-cache="true" config="inventorySearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Ordered As</label><br>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{ loadingItem.itemOrderedAs }} &nbsp; <span class="caret"></span>
                                                </button>
                        <ul class="dropdown-menu">
                            <li><a ng-repeat="status in itemOrderAsStatuses" ng-click="changeItemOrderAs($event, status)" ng-bind="status"
                                    href="#"></a></li>
                        </ul>
                    </div>
                    <div class="col-sm-1 form-group">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-block btn-primary" ng-click="addItem()">Add</button>
                    </div>
                </div>
                <div class="row" ng-if="isLoadingItems">
                    <div class="col-md-12">
                        <div class="spinner sm"></div>
                    </div>
                </div>
                <hr ng-if="loadingList.length > 0">
                <div class="row" ng-if="loadingList.length > 0">
                    <div class="col-sm-12">
                        <label>Today's Deliveries</label>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>Customer</td>
                                        <td>Label</td>
                                        <td>Item</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-right">Price</td>
                                        <td class="text-right">Amount to be<br>collected</td>
                                        <td>Ordered As</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in loadingList track by $index" ng-class="{ 'info' : !item.id }">
                                        <th class="table-select-column">
                                            <input type="checkbox" ng-model="item.isSelected" />
                                        </th>
                                        <td ng-bind="::item.customerName"></td>
                                        <td ng-bind="::item.compositeItemLabel"></td>
                                        <td>
                                            <div class="small">{{ ::item.itemCode }}</div>
                                            <div>{{ ::item.itemName }}</div>
                                        </td>
                                        <td class="text-right" ng-bind="item.quantity"></td>
                                        <td class="text-right" ng-bind="item.customProductPrice | number : 2"></td>
                                        <td>
                                            <div class="pull-right">
                                                <input type="text" format="currency" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="item.collectiveAmount"
                                                    class="form-control input-sm text-right"></div>
                                        </td>
                                        <td ng-bind="item.itemOrderedAs"></td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar" ng-if="loadingList.length > 0">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button ng-disabled="isLoadingSheetGenerated" type="submit" class="btn btn-primary" ng-click="saveChanges()">Generate Loading Sheet</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id='print'></div>