<div class="container visible-print-block" style="font-size:15px;">
    <div class="row header">
        <div><img ng-src="../images/golden-lanka-logo.png" class="img-responsive logo" alt="Golden Lanka"></div>
        <p><b>Golden Lanka (Pvt) Ltd.</b><br>Kahatagasthenna, Ruwanwella.</p>
        <h3>Loading Sheet ({{ ::loadingSheet.loadingDate | date : 'yyyy-MM-dd' }} )</h3>
    </div>
    <hr>
    <br>
    <div class="row">
        <label class="col-xs-2 control-label">Sales Person:</label>
        <label class="col-xs-3" ng-bind="loadingSheet.employeeName ? ::loadingSheet.employeeName : '-'"></label>
        <label class="col-xs-2 control-label">Line Route:</label>
        <label class="col-xs-2" ng-bind="loadingSheet.lineRoute ? ::loadingSheet.lineRoute : '-'"></label>
        <label class="col-xs-1 control-label">Vehicle:</label>
        <label class="col-xs-2" ng-bind="::loadingSheet.vehicleNo"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Other Information:</label>
        <label class="col-xs-9" ng-bind="loadingSheet.otherInfo ? ::loadingSheet.otherInfo : '-'"></label>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <label>Item(s) asscociated to this loading sheet.</label>
            <table class="table">
                <thead>
                    <tr>
                        <td>Customer</td>
                        <td>Label</td>
                        <td>Item</td>
                        <td class="text-right">Quantity</td>
                        <td class="text-right">Custom Price</td>
                        <td class="text-right">Amount to be<br>collected</td>
                        <td>Ordered As</td>
                        <td>Remarks</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in selectedLoadingList track by $index">
                        <td ng-bind="::item.customerName"></td>
                        <td ng-bind="::item.compositeItemLabel"></td>
                        <td>
                            <div class="small">{{ ::item.itemCode }}</div>
                            <div>{{ ::item.itemName }}</div>
                        </td>
                        <td class="text-right" ng-bind="::item.quantity"></td>
                        <td class="text-right" ng-bind="::item.customProductPrice | number : 2"></td>
                        <td class="text-right" ng-bind="::item.collectiveAmount | number : 2"></td>
                        <td ng-bind="::item.itemOrderedAs"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        Checked by : _______________________
    </div>
</div>