<div class="container-fluid" ng-controller="vehicleCreateController" ng-init="init()">
    <h1 class="page-header">{{ isEditing ? "Edit Vehicle" : "New Vehicle" }}</h1>
    <ol class="breadcrumb">
        <li><a href="#/vehicle/list">Vehicle</a></li>
        <li class="active">{{ isEditing ? "Edit Vehicle" : "New Vehicle" }}</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-md">
            <div class="form-container">
                <form novalidate name="form" confirm-on-exit>
                    <div class="row" ng-if="errorMessage !== null">
                        <div class="col-sm-8">
                            <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-section">
                                Vehicle Information
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group" >
                            <label required>Registration Number</label>
                            <input type="text" name="regNumber" ng-model="vehicle.regNumber" class="form-control" required="" maxlength="10">
                            <!--<span class="help-block" ng-if="form.$submitted && form.name.$error.required">Name is required</span>-->
                        </div>
                        <div class="col-sm-6 form-group">
                            <label required>Type</label>
                            <input type="text" name="type" ng-model="vehicle.type" class="form-control" required="" maxlength="10" ng-model-options="{ updateOn: 'blur' }">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Brand</label>
                                <input type="textbox" name="email" ng-model="vehicle.brand" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Model</label>
                                <select class="form-control" searchable="false" style="width:100%" ng-options="x for x in years" ng-model="selectedYear"
                                    ng-change="setSelectedYear()">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Year of Manufacture</label>
                                <input type="text" id="txtYoM" ng-model="vehicle.YoM" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-button-bar">
                                <div class="row">
                                    <div class="col-sm-3 text-left">
                                        <button type="button" class="btn btn-md btn-primary-outline" ng-click="backToList()">Back to List</button>
                                    </div>
                                    <div class="col-sm-9 text-right">
                                        <!--<button type="button" class="btn btn-md" ng-click="createNew()">Create New</button>-->
                                        <!--<button ng-if="!isEditing" type="reset" class="btn btn-md btn-default">Reset</button>-->
                                        <button type="submit" class="btn btn-md btn-primary" ng-click="save(vehicle)">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>