<div class="container-fluid" ng-controller="stockListController" ng-init="init()">
	<h1 class="page-header">Current Stock</h1>
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Current Stock</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapter">
				<columns>
					<code header="Item Code"></code>
					<name header="Item"></name>
					<stock header="Available Stock" align="right"></stock>
					<reorderLevel header="Reorder Level" align="right"></reorderLevel>
				</columns>
			</grid>
		</div>
	</div>
</div>