<div class="container-fluid" ng-controller="itemStockLogController" ng-init="init()">
	<h1 class="page-header">Item Stock Log</h1>
	<ol class="breadcrumb">
		<li><a href="#/">Dashboard</a></li>
		<li class="active">Item Stock</li>
	</ol>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapterInventory">
				<columns>
					<grnCode header="GRN Code"></grnCode>
					<inventoryCode header="Inventory Code"></inventoryCode>
					<buyingPrice header="Buying Price" format="currency" align="right"></buyingPrice>
					<quantity header="Quantity" align="right"></quantity>
					<remainingQuantity header="Remaining Quantity" align="right"></remainingQuantity>
					<retailSellingPrice header="Retail Price" format="currency" align="right"></retailSellingPrice>
					<wholeSellingPrice header="Whole Sale Price" format="currency" align="right"></wholeSellingPrice>
				</columns>
			</grid>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<grid adapter="gridAdapterInvoice">
				<columns>
					<code header="Item Code"></code>
					<name header="Item"></name>
					<stock header="Available Stock" align="right"></stock>
					<reorderLevel header="Reorder Level" align="right"></reorderLevel>
				</columns>
			</grid>
		</div>
	</div>
</div>