<div class="container-fluid" ng-controller="itemCreateController" ng-init="init()">
    <h1 class="page-header">{{ isEditing ? "Edit Item" : "New Item" }}</h1>
    <ol class="breadcrumb">
        <li><a href="#/item/list">Items</a></li>
        <li class="active">{{ isEditing ? "Edit Item" : "New Item" }}</li>
    </ol>
    
    <a class="floating-button" ng-if="isEditing" ng-href="#/item/create" role="button" data-toggle="tooltip" data-placement="top" title="Add New Record">
    </a>

    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-sm">
            <form novalidate name="form" confirm-on-exit>
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group" ng-class="{'has-error' : (form.$submitted && form.name.$error.required)}">
                        <label required>Name</label>
                        <input type="text" name="name" ng-model="item.name" class="form-control" required="" maxlength="45">
                        <span class="help-block" ng-if="form.$submitted && form.name.$error.required">Name is required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" ng-model="item.description" rows="3" class="form-control" maxlength="250"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Category</label>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownCategories" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="true">
                                    {{ item.categoryName ? item.categoryName : "Select Category" }}
                                    <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownCategories">
                                    <li>
                                        <a href="#" ng-click="resetCategoryDropdown($event)">Select Category</a>
                                    </li>
                                    <li ng-repeat="category in categories track by $index" ng-class='{active:category.catId === item.categoryId}'>
                                        <a href="#" ng-click="setSelectedCategory($event, category)">{{ ::category.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sub Category</label>
                            <div class="dropdown">
                                <button ng-disabled="item.subCategory.count > 0" class="btn btn-default dropdown-toggle" type="button" id="dropdownSubCategories"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ item.subCategoryName ? item.subCategoryName : "Select Sub Category" }}
                                    <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownSubCategories">
                                    <li>
                                        <a href="#" ng-click="resetSubCategoryDropdown($event)">Select Sub Category</a>
                                    </li>
                                    <li ng-repeat="subCategory in subCategories track by $index" ng-class='{active:subCategory.subCatId === item.subCategoryId}'>
                                        <a href="#" ng-click="setSelectedSubCategory($event, subCategory)">{{ ::subCategory.name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" ng-model="item.manufacturer" class="form-control" maxlength="100">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" ng-model="item.model" class="form-control" maxlength="45">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Re-Order Level</label>
                            <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" name="language" ng-model="item.reorderLevel" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Unit</label>
                            <input type="text" name="language" ng-model="item.unit" class="form-control" maxlength="45">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="form-button-bar">
                                <div class="col-sm-4 text-left">
                                    <!--<button type="submit" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>-->
                                    <button ng-if="isEditing" type="button" class="btn btn-default" ng-click="backToList()">Back</button>
                                </div>
                                <div class="col-sm-8 text-right">
                                    <button type="reset" class="btn btn-default" ng-click="reset($event)">Reset</button>
                                    <button ng-if="showSaveButton" type="submit" class="btn btn-primary" ng-click="save(item)">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>