<div class="container-fluid" ng-controller="itemReturnController" ng-init="init()">
    <h1 class="page-header">Return an item</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Items</li>
    </ol>

    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-md">
            <form novalidate name="form" confirm-on-exit>
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label required>Sales Type</label>
                        <select class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in salesTypes" ng-model="searchFields.salesTypeId">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label>Inventory Item</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="searchFields.itemId" data-allow-clear="true" ajax-data-url="/api/inventory/search/available"
                            ajax-data-cache="true" config="inventorySearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label required>Customer</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="searchFields.customerId" data-allow-clear="true"
                            ajax-data-url="/api/customers/search" ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button type="submit" class="btn btn-primary-outline" ng-click="search(searchFields)">Search</button>
                        <button type="reset" class="btn btn-primary-outline" ng-click="resetSearchResults()">Reset</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Customer Name</label>
                            <input type="text" readonly name="customerName" ng-model="returnedItem.customerName" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sales Type</label>
                            <input type="text" readonly name="salesType" ng-model="returnedItem.salesType" class="form-control" maxlength="45">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Item Code</label>
                            <input type="text" readonly name="itemCode" ng-model="returnedItem.code" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Item Name</label>
                            <input type="text" readonly name="itemName" ng-model="returnedItem.itemName" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Qty</label>
                            <input type="text" readonly name="qty" ng-model="returnedItem.qty" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Amount</label>
                            <input type="text" readonly name="amount" ng-model="returnedItem.amount" class="form-control" maxlength="45">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Sales Person</label>
                            <input type="text" readonly name="salesPerson" ng-model="returnedItem.salesPerson" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group">
                        <button type="submit" class="btn btn-success" ng-click="save(returnedItem)">Accept</button>
                        <button type="reset" class="btn btn-danger" ng-click="">Reject</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>