<div class="container visible-print-block" style="font-size:15px;">
    <div class="row header">
        <div><img ng-src="../images/golden-lanka-logo.png" class="img-responsive logo" alt="Golden Lanka"></div>
        <p><b>Golden Lanka (Pvt) Ltd.</b><br>Kahatagasthenna, Ruwanwella.</p>
        <h3>Payment Receipt ({{ payment.code }})</h3>
    </div>
    <hr>
    <br>
    <div class="row">
        <label class="col-xs-3 control-label">Bill To:</label>
        <label class="col-xs-9" ng-bind="payment.customerName ? payment.customerName : '-'"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Payment Method:</label>
        <label class="col-xs-3" ng-bind="::payment.paymentMethodName"></label>
        <label class="col-xs-3 control-label">Payment Date:</label>
        <label class="col-xs-3" ng-bind="payment.paymentDate ? (payment.paymentDate | date : 'yyyy-MM-dd') : '-'"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Other Information:</label>
        <label class="col-xs-9" ng-bind="payment.otherInfo ? payment.otherInfo : '-'"></label>
    </div>
    <br>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <label ng-if="payment.cheques.length > 0">Cheque(s) asscociated to this payment.</label>
            <label class="control-label" ng-if="payment.cheques.length === 0">No cheque(s) asscociated to this payment.</label>
            <table ng-if="payment.cheques.length > 0" class="table">
                <thead>
                    <tr>
                        <td><b>Cheque No</b></td>
                        <td><b>Bank/Branch</b></td>
                        <td><b>Date</b></td>
                        <td class="text-right"><b>Amount (Rs.)</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cheque in payment.cheques track by $index">
                        <td ng-bind="cheque.chequeNo"></td>
                        <td ng-bind="(cheque.bank + ' - ' + cheque.branch)"></td>
                        <td ng-bind="(payment.paymentDate | date : 'yyyy-MM-dd')"></td>
                        <td class="text-right" ng-bind="cheque.amount | number : 2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <label>Invoice(s) asscociated to this payment</label>
            <table class="table">
                <thead>
                    <tr>
                        <td><b>Invoice Code</b></td>
                        <td><b>Invoiced Date</b></td>
                        <td class="text-right"><b>Total (Rs.)</b></td>
                        <td class="text-right"><b>Balance (Rs.)</b></td>
                        <td class="text-right"><b>Payment Applied (Rs.)</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in payment.items track by $index">
                        <td ng-bind="item.invoiceCode"></td>
                        <td ng-bind="(item.invoicedDate | date : 'yyyy-MM-dd')"></td>
                        <td class="text-right" ng-bind="item.total | number : 2"></td>
                        <td class="text-right" ng-bind="item.dueAmount | number : 2"></td>
                        <td class="text-right" ng-bind="item.amount | number : 2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <hr>
    <div class="row">
        <span class="col-sm-3 control-label pull-right" ng-bind="payment.amount | number : 2"></span>
        <span class="col-sm-3 control-label pull-right">Total (Rs.):</span>
        <span class="col-sm-6"></span>
    </div>
    <hr>
    <br>
    <div class="row">
        Checked by : _______________________
    </div>
    <div class="footer">
        <div>If you have any questions please contact us.</div>
        <div>THANK YOU FOR MAKING BUSINESS WITH US!</div>
        <div>VISIT AGAIN</div>
    </div>
    <hr>
</div>