<div class="container-fluid hidden-print" ng-controller="paymentCreateController" ng-init="init()">
    <h1 class="page-header">New Payment</h1>
    <ol class="breadcrumb">
        <li><a href="#/payment/list">Payment</a></li>
        <li class="active">New Payment</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-group">
                        <label required>Customer</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="payment.customerId" data-allow-clear="true" ajax-data-url="/api/customers/search"
                            ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label required>Payment Method</label>
                        <select class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in paymentTypes" ng-model="selectedPayType"
                            ng-change="setSelectedPayType()">
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Payment Date</label>
                        <input type="date" ng-model="payment.paymentDate" class="form-control">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Amount</label>
                        <input tabindex="-1" type="text" format="currency" ng-model="payment.amount" class="form-control text-right" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="payment.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                <hr ng-show="payment.paymentMethodName === 'Cheque'">
                <div class="row" ng-show="payment.paymentMethodName === 'Cheque'">
                    <div class="col-sm-2 form-group">
                        <label required>Cheque No</label>
                        <input class="form-control" type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="cheque.chequeNo"
                            maxlength="6" />
                    </div>
                    <div class="col-sm-2 form-group">
                        <label required>Bank</label>
                        <input class="form-control" type="text" ng-model="cheque.bank" maxlength="30" />

                    </div>
                    <div class="col-sm-2 form-group">
                        <label required>Branch</label>
                        <input class="form-control" type="text" ng-model="cheque.branch" maxlength="30" />
                    </div>
                    <div class="col-sm-2 form-group">
                        <label>Date</label>
                        <input type="date" ng-model="cheque.chequeDate" class="form-control">
                    </div>
                    <div class="col-sm-2 form-group">
                        <label required>Amount</label>
                        <input type="text" format="currency" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="cheque.amount" class="form-control text-right">
                    </div>
                    <div class="col-sm-1 form-group">
                        <label>&nbsp;</label>
                        <button type="button" class="btn btn-block btn-primary" ng-click="addCheque()">Add</button>
                    </div>
                </div>
                <div class="row" ng-if="payment.cheques.length > 0">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <label>Cheque(s) asscociated to this payment</label>
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <td>Cheque No</td>
                                        <td>Bank</td>
                                        <td>Branch</td>
                                        <td>Date</td>
                                        <td class="text-right">Amount</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="cheque in payment.cheques track by $index">
                                        <td ng-bind="cheque.chequeNo"></td>
                                        <td ng-bind="cheque.bank"></td>
                                        <td ng-bind="cheque.branch"></td>
                                        <td ng-bind="cheque.chequeDate | date : 'yyyy MM dd'"></td>
                                        <td class="text-right" ng-bind="cheque.amount | number : 2"></td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeCheque($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="isLoadingInvoices">
                    <div class="col-md-12">
                        <div class="spinner sm"></div>
                    </div>
                </div>
                <hr ng-if="payment.items.length > 0">
                <div class="row" ng-if="payment.items.length > 0">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <label>Invoice(s) asscociated to this payment</label>
                            <table class="table table-hover table-border-outline">
                                <thead>
                                    <tr>
                                        <td>Invoice Code</td>
                                        <td>Invoiced Date</td>
                                        <td class="text-right">Total</td>
                                        <td class="text-right">Due Amount</td>
                                        <td class="text-right">Payment Applied</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in payment.items track by $index">
                                        <td ng-bind="item.invoiceCode"></td>
                                        <td ng-bind="item.invoicedDate"></td>
                                        <td class="text-right" ng-bind="item.total | number : 2"></td>
                                        <td class="text-right" ng-bind="item.dueAmount | number : 2"></td>
                                        <td>
                                            <div class="pull-right"><input tabindex="0" id="item-{{ item.id }}" type="number" ng-model="item.amount"
                                                    class="form-control input-sm text-right" min="0" ng-model-options="{ updateOn: 'blur' }"
                                                    ng-change="validateAmount(item)" /></div>
                                        </td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(payment, false)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(payment, true)">Save &amp; Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="print"></div>