<div class="container-fluid" ng-controller="paymentListController" ng-init="init()">
    <h1 class="page-header">Payments</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Payments</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="false" enable-delete="false">
                <actions>
                    <action text="Delete" command="delete"></action>
                </actions>
                <columns>
                    <code header="Code"></code>
                    <customerName header="Customer"></customerName>
                    <paymentDate header="Payment Date"></paymentDate>
                    <paymentMethodName header="Payment Method"></paymentMethodName>
                    <amount header="Total" align="right" format="currency"></amount>
                </columns>
            </grid>
        </div>
    </div>
</div>