<!DOCTYPE html>
<html lang="en" ng-app="project-x">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicons/manifest.json">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#004c84">

    <title>Bizvix | <%- store %></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="../libs/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="../libs/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="../libs/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/layout.min.css">

    <!-- Bootstrap -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="rootController as root">
  <input type="hidden" id="store" name="store" value="<%- store %>"/>
  <toaster></toaster>
  <div class="application app-header-fixed">
    <navigation-bar></navigation-bar>
    <siderbar></siderbar>
    <div class="app-content">
      <div class="app-content-body" ng-view></div>
      <footer id="footer" class="app-footer hidden-print" role="footer">
        <div class="wrapper bg-light">
          <span class="pull-right" ui-scroll="app">Top <a href="" class="text-muted"><i class="glyphicon glyphicon-chevron-up"></i></a></span>
          © 2016 Copyright.
        </div>
    </footer>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="../libs/js/jquery.min.js"></script>
      <script src="../libs/js/jquery-ui.min.js"></script>
      <script src="../libs/js/bootstrap.min.js"></script>
      <script src="../libs/js/angular.min.js"></script>
      <script src="../libs/js/angular-route.min.js"></script>
      <script src="../libs/js/angular-sanitize.min.js"></script>
      <script src="../js/project-x.js"></script>
      <script src="../js/templates.min.js"></script>
      <script src="/service-vars/config.js"></script>
      <script src="/api/<%- store %>/lookups.json"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%- googleMapApiKey %>"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
      </div>
    </div>
  </body>
</html>