<div class="container-fluid" ng-controller="customerDetailsController" ng-init="init()">
    <h1 class="page-header">Customer Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/customer/list">Customers</a></li>
        <li class="active">Details</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-sm">
            <form novalidate name="form">
                <div class="row form-actions">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-sm" role="group">
                            <a href="#/order-taking/create/{{customer.id}}" class="btn btn-default">Create New Order</a>
                            <button ng-if="customer.isActive" type="button" class="btn btn-default" ng-click="editCustomer(customer)">Edit</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#confirmDialog">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <h3>
                            <small>{{::customer.customerId}}</small> <br/>
                            {{::customer.name}}
                        </h3>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>NIC</label>
                        <input type="text" name="nic" ng-model="customer.nic" class="form-control input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Mobile No 1</label>
                            <input type="text" ng-model="customer.mobile1" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Mobile No 2</label>
                            <input type="text" ng-model="customer.mobile2" class="form-control input-sm" readonly>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fixed Line</label>
                            <input type="text" ng-model="customer.fixedLine" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Emergency Contact</label>
                            <input type="text" ng-model="customer.emergencyContact" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Contact Name</label>
                            <input type="text" ng-model="customer.contactName" class="form-control input-sm" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="text" name="email" ng-model="customer.email" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Language Preference</label>
                            <input type="text" name="language" ng-model="customer.languageName" class="form-control input-sm" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="address" ng-model="customer.address" rows="3" class="form-control input-sm" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Line Route</label>
                        <input type="text" name="lineRoute" ng-model="customer.lineRoute" class="form-control input-sm" readonly>
                    </div>
                    <div class="col-sm-6 form-group date">
                        <label>Line Date(s)</label>
                        <input type="text" name="lineDate" ng-value="customer.lineDate" class="form-control input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="customer.otherInfo" rows="2" class="form-control input-sm" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="showMap">
                    <div class="col-sm-12">
                        <label>Location</label>
                        <div id="googleMap" class="map-canvas"></div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-4 text-left">
                        <button type="button" class="btn btn-sm btn-default" ng-click="backToList()">Back</button>
                    </div>
                    <div class="col-sm-8 text-right">
                        <button ng-if="customer.isActive" type="button" class="btn btn-sm btn-primary" ng-click="editCustomer(customer)">Edit</button>
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>
                    </div>
                </div>
            </form>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to delete this?'" on-okay="updateDeleteStatus(customer)"></confirm-dialog>
    </div>
</div>