<nav class="navbar navbar-inverse app-header hidden-print" ng-if="visible" ng-init="init()" ng-cloak>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
    <a class="navbar-brand" href="#/">
      <img src="/images/logo-sign.svg" alt="Bizvix">
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-navbar-collapse">
    <p class="navbar-text brand-name">Bizvix</p>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a ng-click="preventLink($event)" class="dropdown-toggle" data-toggle="dropdown" role="button">Welcome, {{ user }} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Change Password</a></li>
            <li><a ng-click="logout($event)">Logout</a></li>
          </ul>
        </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>