<ul class="pagination pull-right">
    <li class="previous" ng-class="{'disabled':(pageIndex + 1) == 1}">
        <a href="#" role="link" tabindex="0" title="Previous" aria-label="Previous" ng-click="paginate(pageIndex - 1, $event)"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </li>
    <li class="paging-counts">
        <span>{{pageIndex + 1}}/{{ numberOfPages }}</span>
    </li>
    <li class="next" ng-class="{'disabled':numberOfPages==(pageIndex + 1)}">
        <a href="#" role="link" tabindex="0" title="Next" aria-label="Next" ng-click="paginate(pageIndex + 1, $event)"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </li>
</ul>