<aside class="app-aside hidden-print" ng-if="visible" ng-cloak>
    <ul class="menu-bar" role="list">
        <li class="tab menu-trigger">
            <a tabindex="0" class="icon-placeholder" role="button">
                <i class="icon menu" aria-hidden="true"></i>
            </a>
            <div class="mega-menu">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="keyword" ng-model="keyword" placeholder="Keyword" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" title="Search"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <ul>
                    <li class="mega-menu-header">Dashboard</li>
                    <li><a ng-click="openLink($event, '/')">Show</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Suppliers</li>
                    <li><a ng-click="openLink($event, '/supplier/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/supplier/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Items</li>
                    <li><a ng-click="openLink($event, '/item/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/item/create')">New</a></li>
                    <li><a ng-click="openLink($event, '/item/return')">Return</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Invoices</li>
                    <li><a ng-click="openLink($event, '/invoice/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/invoice/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Customers</li>
                    <li><a ng-click="openLink($event, '/customer/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/customer/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Employees</li>
                    <li><a ng-click="openLink($event, '/employee/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/employee/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Lines</li>
                    <li><a ng-click="openLink($event, '/line/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/line/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Material</li>
                    <!-- <li><a ng-click="openLink($event, '/product/list')">Search</a></li> -->
                    <li><a ng-click="openLink($event, '/material/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Products</li>
                    <li><a ng-click="openLink($event, '/product/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/product/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Custom Product</li>
                    <li><a ng-click="openLink($event, '/custom-product/list')">Search</a></li>
                    <li><a ng-click="openLink($event, '/custom-product/create')">New</a></li>
                </ul>
                <ul>
                    <li class="mega-menu-header">Payments</li>
                    <li><a ng-click="openLink($event, '/payment/list')">List</a></li>
                    <li><a ng-click="openLink($event, '/payment/create')">New</a></li>
                </ul>
            </div>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon inventory" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Inventory</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/available-stock/list')">Available Stock</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/inventory/list')">List</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon lines" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Delivery Tracking</li>
                <!-- <li class="submenu-item"><a ng-click="openLink($event, '/item-issue/list')">Search</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/item-issue/create')">New</a></li> -->
                <li class="submenu-item"><a ng-click="openLink($event, '/item-issue/loading-sheet')">Loading Sheet</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/delivery/tracking')">Item Delivery</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon grn" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Grn</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/grn/list')">Search</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/grn/create')">New</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon sales" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Invoices</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/invoice/list')">Search</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/invoice/create')">New</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon products" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Products</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/product/list')">Search</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/product/create')">New</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon dashboard" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Custom Product</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/custom-product/list')">Search</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/custom-product/create')">New</a></li>
            </ul>
        </li>
        <li class="tab" role="listitem" tabindex="0">
            <div class="icon-placeholder">
                <i class="icon sales" aria-hidden="true"></i>
            </div>
            <ul class="submenu">
                <li class="submenu-header">Payments</li>
                <li class="submenu-item"><a ng-click="openLink($event, '/payment/list')">Search</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/payment/create')">New</a></li>
                <li class="submenu-item"><a ng-click="openLink($event, '/invoice/due/list')">Due Payments</a></li>
            </ul>
        </li>
    </ul>

</aside>