<div class="notification-panel hidden-print flat-ui message-pool">
    <div class="message" ng-if="visible" ng-class="notification.type" role="alert" tabindex="0" aria-label="{{ notification.message }}">
        <button type="button" class="close fa fa-times" ng-click="closeNotification()"></button>
        <div class="message-header" ng-if="notification.title.length > 0">
            <span ng-bind-html="notification.title"></span>
        </div>
        <div class="message-text">
            <i class="icon fa" ng-class="getIcon()"></i>
            <span ng-bind-html="notification.message"></span>
        </div>
    <div>
</div>