<div class="container-fluid" ng-controller="materialCreateController">
	<h1 class="page-header">Create material</h1>
	<ol class="breadcrumb">
		<li><a href="#/material/list">Material</a></li>
	</ol>
	<div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
		<div class="form-window form-md form-container">
			<form novalidate name="form" confirm-on-exit>
				<!-- <div class="row" ng-if="errorMessage !== null">
					<div class="col-sm-12">
						<div class="alert alert-danger" role="alert" ng-bind="errorMessage">
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-sm-6 form-group" ng-class="{'has-error' : (form.$submitted && form.name.$error.required)}">
						<label required>Name</label>
                        <input type="text" name="name" ng-model="material.name" class="form-control" required="" maxlength="500">
                            <span class="help-block" ng-if="form.$submitted && form.name.$error.required">Name is required</span>
					</div>
					<div class="col-sm-6 form-group">
						<label>Description</label>
						<textarea type="text" name="description" ng-model="material.description" class="form-control"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6 form-group date">
						<label>Valid From</label>
                        <input type="date" name="validFrom" ng-model="material.validFrom" class="form-control">
					</div>
					<div class="col-sm-6 form-group" ng-disabled="material.isNeverExpire">
                        <label>Valid To</label>
                        <input type="date" name="validTo" ng-model="material.validTo" class="form-control">
                    </div>
				</div>
				<div class="row">
					<div class="col-sm-4 form-group">
						<label>Never expire?</label>
						<input type="checkbox" name="neverExpire" ng-model="material.isNeverExpire" >
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-button-bar">
							<div class="row">
								<div class="col-md-12">
									<div class="col-md-8 text-right">
										<button type="reset" class="btn btn-default">Reset</button>
										<button type="submit" class="btn btn-primary" ng-click="save(material)">Save</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>