<div class="container-fluid" ng-controller="productListController" ng-init="init()">
    <h1 class="page-header">Products</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Products</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="false" enable-delete="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                </actions>
                <columns>
                    <code header="Code"></code>
                    <materialName header="Material"></materialName>
                    <name header="Name"></name>
                    <amount header="Amount" align="right" format="currency"></amount>
                    <compositeItemCount header="Items" align="right"></compositeItemCount>
                </columns>
            </grid>
        </div>
    </div>
</div>