<!--<div class="container-fluid" ng-controller="customerListController" ng-init="init()">
    <h1 class="page-header">Customers</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Customers</li>
    </ol>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="keyword" ng-model="keyword" placeholder="Keyword" ng-enter="searchCustomers()" class="form-control input-sm"
                    />
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-default" type="button" ng-click="searchCustomers()">Search</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <a type="button" class="btn btn-sm btn-primary" href="#/customer/create">Create New Customer</a>
                <div class="btn-group" role="group">
                    <button ng-show="showDeleteButton" class="btn btn-sm btn-default" ng-click="deleteClick(null, $event)" data-toggle="modal"
                        data-target="#confirmDialog">Delete Selected</button>
                        <button ng-show="showDisableButton" class="btn btn-sm btn-default" ng-click="changeStatusForSelected(0)">Disable Selected</button>
                        <button ng-show="showEnableButton" class="btn btn-sm btn-default" ng-click="changeStatusForSelected(1)">Enable Selected</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-if="customers.length > 0">
            <paginate record-count="recordCount"></paginate>
        </div>
    </div>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="row">
            <div class="col-sm-12">
                <div class="top-buffer table-responsive">
                    <table class="table table-hover table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-model="selectAll" ng-click="selectAllRows()" class="" /></th>
                                <th>Id</th>
                                <th>Name</th>
                                <th>NIC</th>
                                <th>Email</th>
                                <th>Line Route</th>
                                <th>Line Date</th>
                                <th style="width:35px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="customer in customers track by $index" class="pointer" ng-class="{'inactive' : !customer.isActive}">
                                <td><input type="checkbox" ng-checked="customer.selected" ng-click="toggleSelect(customer, $event)"
                                    /></td>
                                <td ng-bind="::customer.customerId" ng-click="selectCustomer(customer, $event)"></td>
                                <td ng-bind="::customer.name" ng-click="selectCustomer(customer, $event)"></td>
                                <td ng-bind="::customer.nic" ng-click="selectCustomer(customer, $event)"></td>
                                <td ng-bind="::customer.email" ng-click="selectCustomer(customer, $event)"></td>
                                <td ng-bind="::customer.lineRoute" ng-click="selectCustomer(customer, $event)"></td>
                                <td ng-click="selectCustomer(customer, $event)">{{::customer.lineDate }}</td>
                                <td style="width:35px">
                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-default btn-tanasparent dropdown-toggle" type="button" id="actionsMenu" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true"><i class="glyphicon glyphicon-menu-down"></i></button>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="actionsMenu">
                                                <li><a href="#" ng-click="selectCustomer(customer, $event)">Details</a></li>
                                                <li ng-if="customer.isActive"><a href="#" ng-click="editCustomer(customer, $event)">Edit</a></li>
                                                <li><a href="#" ng-click="changeActiveStatus(customer, $event)">{{ customer.isActive ? "Disable" : "Enable" }}</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li>
                                                    <a href="#" ng-click="deleteClick(customer, $event)" data-toggle="modal" data-target="#confirmDialog">Delete</a>
                                                </li>
                                            </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" ng-if="customers.length === 0">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>No records found.</h3>
                </div>
            </div>
        </div>
        <div class="row" ng-if="customers.length > 0">
            <div class="col-sm-12">
                <paginate record-count="recordCount"></paginate>
            </div>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to do this?'" on-okay="updateDeleteStatus()"></confirm-dialog>
    </div>
</div>-->


<div class="container-fluid" ng-controller="customerListController" ng-init="init()">
    <h1 class="page-header">Customers</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Customers</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="true" enable-edit="true" enable-delete="true" enable-recent="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                    <action text="Activate" command="enable"></action>
                    <action text="Deactivate" command="disable"></action>
                </actions>
                <columns>
                    <customerId header="Code"></customerId>
                    <name header="Name"></name>
                    <nic header="NIC"></nic>
                    <email header="Email"></email>
                    <lineRoute header="Line Route"></lineRoute>
                    <lineDate header="Line Date"></lineDate>
                </columns>
            </grid>
        </div>
    </div>
</div>