<div class="container-fluid hidden-print invoice-view" ng-controller="invoiceCreateNgController" ng-init="init()">
    <h1 class="page-header">New Invoice</h1>
    <ol class="breadcrumb">
        <li><a href="#/invoice/list">Invoice</a></li>
        <li class="active">New Invoice</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="row">
            <div class="col-md-8">
                <div class="form-window form-lg">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="keyword" placeholder="Search for..." ng-model-options="{ debounce: 200 }" ng-enter="search(keyword)" ng-change="emptySearchResults(keyword)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="search(keyword)">
                                        <i class="fa fa-search" aria-hidden="true" ng-if="!isItemLoading"></i>
                                        <div class="spinner" ng-if="isItemLoading"></div>
                                    </button>
                                </span>
                            </div>
                            <hr/>
                            <div class="item-search-results">
                                <div class="spinner sm" ng-if="isItemLoading"></div>
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in inventoryItems">
                                    <div><span class="item-code" ng-bind="::item.itemCode"></span> <span class="pull-right item-price" ng-bind="::item.retailSellingPrice | number"></span></div>
                                    <div class="item-name text-capitalize" ng-bind="::item.itemname"></div>
                                    <div class="item-overlay">
                                        <button type="button" class="btn btn-xs btn-default" ng-click="addItemToInvoice(item)"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                                    </div>
                                </li>
                            </ul>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Date</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="col-md-8">
                                    <label>Customer</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <hr/>

                            <div class="table-responsive">
                                <table class="table table-striped table-hover table-border-outline">
                                    <thead>
                                        <tr>
                                            <td>Item Code</td>
                                            <td class="text-right">Price</td>
                                            <td class="text-right">Quantity</td>
                                            <td class="text-right">Sub Total</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    <small>HQ-4856-645</small>
                                                    <p>Baby Item</p>
                                                </div>
                                            </td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right"><a class="btn btn-sm btn-icon btn-transparent"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <small>HQ-4856-645</small>
                                                    <p>Baby Item</p>
                                                </div>
                                            </td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right"><a class="btn btn-sm btn-icon btn-transparent"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <small>HQ-4856-645</small>
                                                    <p>Baby Item</p>
                                                </div>
                                            </td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right"><a class="btn btn-sm btn-icon btn-transparent"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    <small>HQ-4856-645</small>
                                                    <p>Baby Item</p>
                                                </div>
                                            </td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right">1</td>
                                            <td class="text-right">650.00</td>
                                            <td class="text-right"><a class="btn btn-sm btn-icon btn-transparent"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div style="max-width:250px">
                    <h3>Summary</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Total <span class="pull-right">8500.00</span></li>
                        <li class="list-group-item">Discount <span class="pull-right">150.00</span></li>
                        <li class="list-group-item">Net <span class="pull-right">8350.00</span></li>
                    </ul>
                    <hr/>
                    <div class="form-group">
                        <label>Payment Type</label>
                        <input type="email" class="form-control" value="Cash">
                    </div>
                    <hr/>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">Save</button>
                        <button type="button" class="btn btn-primary">Save & Print</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="print"></div>