<div class="container visible-print-block" style="font-size:15px;">
    <div class="row header">
        <div><img ng-src="../images/golden-lanka-logo.png" class="img-responsive logo" alt="Golden Lanka"></div>
        <p><b>Golden Lanka (Pvt) Ltd.</b><br>Kahatagasthenna, Ruwanwella.</p>
        <h3>Sales Invoice ({{ invoice.code }})</h3>
    </div>
    <hr>
    <br>
    <div class="row">
        <label class="col-xs-3 control-label">Bill To:</label>
        <label class="col-xs-9" ng-bind="invoice.customerName ? invoice.customerName : '-'"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Sales Type:</label>
        <label class="col-xs-3" ng-bind="::invoice.salesTypeName"></label>
        <label class="col-xs-3 control-label">Payment Method:</label>
        <label class="col-xs-3" ng-bind="::invoice.paymentMethodName"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Other Information:</label>
        <label class="col-xs-9" ng-bind="invoice.otherInfo ? invoice.otherInfo : '-'"></label>
    </div>
    <div class="row">
        <label class="col-xs-3 control-label">Date:</label>
        <label class="col-xs-3" ng-bind="invoice.invoicedDate ? (invoice.invoicedDate | date : 'yyyy-MM-dd') : '-'"></label>
        <label class="col-xs-3 control-label">Reference No:</label>
        <label class="col-xs-3" ng-bind="::invoice.code"></label>
    </div>
    <hr>
    <div class="row">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <td><b>Item Code</b></td>
                        <td><b>Inventory Code</b></td>
                        <td><b>Name</b></td>
                        <td><b>Description</b></td>
                        <td class="text-right"><b>Price (Rs.)</b></td>
                        <td class="text-right"><b>Quantity</b></td>
                        <td class="text-right"><b>Sub Total (Rs.)</b></td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in invoice.items track by $index">
                        <td ng-bind="item.itemCode"></td>
                        <td ng-bind="item.inventoryCode"></td>
                        <td ng-bind="item.itemName"></td>
                        <td></td>
                        <td class="text-right" ng-bind="item.price | number : 2"></td>
                        <td class="text-right" ng-bind="item.quantity"></td>
                        <td class="text-right" ng-bind="item.subTotal | number : 2"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <span class="col-sm-3 control-label pull-right" ng-bind="invoice.total | number : 2"></span>
        <span class="col-sm-3 control-label pull-right">Total (Rs.):</span>
        <span class="col-sm-6"></span>
    </div>
    <div class="row">
        <span class="col-sm-3 control-label pull-right" ng-bind="invoice.discountAmount | number : 2"></span>
        <span class="col-sm-3 control-label pull-right">Discount Amount (Rs.):</span>
        <span class="col-sm-6"></span>
    </div>
    <div class="row">
        <span class="col-sm-3 control-label pull-right" ng-bind="invoice.netAmount | number : 2"></span>
        <span class="col-sm-3 control-label pull-right">Net Amount (Rs.):</span>
        <span class="col-sm-6"></span>
    </div>
    <div class="row" ng-if="invoice.receivedAmount > 0">
        <span class="col-sm-3 control-label pull-right" ng-bind="invoice.receivedAmount | number : 2"></span>
        <span class="col-sm-3 control-label pull-right">Received Amount (Rs.):</span>
        <span class="col-sm-6"></span>
    </div>
    <div class="row" ng-if="invoice.balanceAmount > 0">
        <span class="col-sm-3 control-label pull-right" ng-bind="invoice.balanceAmount | number : 2"></span>
        <span class="col-sm-3 control-label pull-right">Balance Amount (Rs.):</span>
        <span class="col-sm-6"></span>
    </div>
    <hr>
    <br>
    <div class="row">
        Checked by : _______________________
    </div>
    <div class="footer">
        <div>If you have any questions please contact us.</div>
        <div>THANK YOU FOR MAKING BUSINESS WITH US!</div>
        <div>VISIT AGAIN</div>
    </div>
    <hr>
</div>