<div class="container-fluid hidden-print" ng-controller="invoiceCreateController" ng-init="init()">
    <h1 class="page-header">New Invoice</h1>
    <ol class="breadcrumb">
        <li><a href="#/invoice/list">Invoice</a></li>
        <li class="active">New Invoice</li>
    </ol>
    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-lg">
            <form novalidate name="form">
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 form-group">
                        <label required>Sales Type</label>
                        <select ng-disabled="invoice.items.length > 0" class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in salesTypes"
                            ng-model="selectedSalesType" ng-change="setSelectedSalesType()">
                        </select>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label required>Payment Method</label>
                        <select class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in paymentTypes" ng-model="selectedPayType"
                            ng-change="setSelectedPayType()">
                        </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label>Customer</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="invoice.customerId" data-allow-clear="true" ajax-data-url="/api/customers/search"
                            ajax-data-cache="true" config="customerSearchConfig" style="width:100%">
                        </select>
                    </div>
                    <div class="col-sm-2 form-group">
                        <label required>Invoiced Date</label>
                        <input type="date" ng-model="invoice.invoicedDate" class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="invoice.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group" ng-if="invoice.paymentMethodName === 'Credit'" ng-class="{'has-error' : (form.$submitted && form.dueDate.$error.required && invoice.paymentMethodName === 'Credit')}">
                        <label required>Due Date</label>
                        <input type="date" name='dueDate' ng-model="invoice.dueDate" class="form-control" required>
                        <span class="help-block" ng-if="form.$submitted && form.dueDate.$error.required && invoice.paymentMethodName === 'Credit'">Due Date is required</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label required>Inventory Item</label>
                        <select class="form-control" data-placeholder="Please select" ng-model="selectedInventoryItem" data-allow-clear="true" ajax-data-url="/api/inventory/search/available"
                            ajax-data-cache="true" config="inventorySearchConfig" style="width:100%">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-hover table-border-outline"  ng-if="invoice.items.length === 0">
                                <thead>
                                    <tr>
                                        <td>Item Code</td>
                                        <td>Inventory Code</td>
                                        <td>Name</td>
                                        <td class="text-right">Price</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-right">Sub Total</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="invisible">-</span></td>
                                        <td><span class="invisible">-</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="invisible">-</span></td>
                                        <td><span class="invisible">-</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><span class="invisible">-</span></td>
                                        <td><span class="invisible">-</span></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table table-hover table-border-outline"  ng-if="invoice.items.length > 0">
                                <thead>
                                    <tr>
                                        <td>Item Code</td>
                                        <td>Inventory Code</td>
                                        <td>Name</td>
                                        <td class="text-right">Price</td>
                                        <td class="text-right">Quantity</td>
                                        <td class="text-right">Sub Total</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in invoice.items track by $index">
                                        <td ng-bind="item.itemCode"></td>
                                        <td ng-bind="item.inventoryCode"></td>
                                        <td ng-bind="item.itemName"></td>
                                        <td class="text-right" ng-bind="item.price | number : 2"></td>
                                        <td>
                                            <div class="pull-right"><input id="item{{ item.inventoryId }}" type="number" min="1" ng-change="calculateSubTotal(item)"
                                                    ng-model="item.quantity" class="form-control input-sm text-right" style="width: 100px;"
                                                /></div>
                                        </td>
                                        <td class="text-right" ng-bind="item.subTotal | number : 2"></td>
                                        <td class="table-action-column">
                                            <a class="btn btn-sm btn-icon btn-transparent" ng-click="removeItem($event, $index)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right" style="margin-top:30px;">Total</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group">
                        <h3 ng-bind="invoice.total | currency" class="pull-right"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Discount</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right" ng-class="{'has-error' : (form.$submitted && invoice.discountAmount > invoice.total)}">
                        <input class="form-control text-right" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" ng-keyup="ajustDiscountValues()"
                            type="text" ng-model="invoice.discountAmount" format="currency" />
                        <span class="help-block" ng-if="form.$submitted && invoice.discountAmount > invoice.total">Discount Amount should be less than Total</span>
                    </div>
                </div>
                <div class="row" ng-if="invoice.discountAmount > 0">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right" style="margin-top:30px;">Net</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right">
                        <h3 ng-bind="invoice.netAmount | currency" class="pull-right"></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Received</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right" ng-class="{'has-error' : (form.$submitted && invoice.paymentMethodName !== 'Cheque' && invoice.receivedAmount < invoice.total)}">
                        <input name="receivedAmount" class="form-control text-right" oninput="this.value=this.value.replace(/[^0-9.]/g,'');" ng-keyup="ajustBalanceAmount()"
                            type="text" ng-model="invoice.receivedAmount" format="currency" required/>
                        <span class="help-block" ng-if="form.$submitted && invoice.paymentMethodName === 'Cash' && invoice.receivedAmount < invoice.netAmount">Received Amount should be greater than Net Amount</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <label class="control-label pull-right">Balance</label>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pull-right">
                        <input class="form-control text-right" type="text" ng-model="invoice.balanceAmount" format="currency" readonly/>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-6 text-left">
                        <button type="button" class="btn btn-primary-outline" ng-click="createNew()">Create New</button>
                    </div>
                    <div class="col-sm-6 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(invoice, false)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-click="saveChanges(invoice, true)">Save &amp; Print</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="print"></div>