<div class="container-fluid" ng-controller="supplierListController" ng-init="init()">
    <h1 class="page-header">Suppliers</h1>
    <ol class="breadcrumb">
        <li><a href="#/">Dashboard</a></li>
        <li class="active">Suppliers</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <grid adapter="gridAdapter" selectable="true" enable-edit="true" enable-delete="true">
                <actions>
                    <action text="Delete" command="delete"></action>
                    <action text="Activate" command="enable"></action>
                    <action text="Deactivate" command="disable"></action>
                </actions>
                <columns>
                    <supplierId header="Code"></supplierId>
                    <name header="Name"></name>
                    <agentName header="Agent"></agentName>
                    <category header="Category"></category>
                </columns>
            </grid>
        </div>
    </div>
</div>