<div class="container-fluid" ng-controller="supplierCreateController" ng-init="init()">
    <h1 class="page-header">{{ isEditing ? "Edit Supplier" : "New Supplier" }}</h1>
    <ol class="breadcrumb">
        <li><a href="#/supplier/list">Suppliers</a></li>
        <li class="active">{{ isEditing ? "Edit Supplier" : "New Supplier" }}</li>
    </ol>

    <a class="floating-button" ng-if="isEditing" ng-href="#/supplier/create" role="button" data-toggle="tooltip" data-placement="top"
        title="Add New Record">
    </a>

    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-sm">
            <form novalidate name="form" confirm-on-exit>
                <div class="row" ng-if="errorMessage !== null">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert" ng-bind="errorMessage">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group" ng-class="{'has-error' : (form.$submitted && form.name.$error.required)}">
                        <label required>Name</label>
                        <input type="text" name="name" ng-model="supplier.name" class="form-control" required="" maxlength="500">
                        <span class="help-block" ng-if="form.$submitted && form.name.$error.required">Name is required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Mobile No</label>
                            <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="supplier.mobile" class="form-control"
                                maxlength="10">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fixed Line</label>
                            <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="supplier.fixedLine" class="form-control"
                                maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group" ng-class="{'has-error' : (form.email.$invalid && !form.email.$pristine)}">
                            <label>Email</label>
                            <input type="email" name="email" ng-model="supplier.email" class="form-control" ng-model-options="{ updateOn: 'blur' }">
                            <span class="help-block" ng-if="form.email.$invalid && !form.email.$pristine">Invalid Email Address</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Language</label>
                            <select class="form-control" searchable="false" style="width:100%" ng-options="type.value for type in languages" ng-model="selectedLanguage"
                                ng-change="setSelectedLanguage()">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="address" ng-model="supplier.address" rows="3" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Agent Name</label>
                            <input type="text" ng-model="supplier.agentName" class="form-control" maxlength="45">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" oninput="this.value=this.value.replace(/[^0-9]/g,'');" ng-model="supplier.agentContact" class="form-control"
                                maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="supplier.otherInfo" rows="2" class="form-control" maxlength="500"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-button-bar">
                                    <div class="row">
                                        <div class="col-sm-4 text-left">
                                            <button ng-if="isEditing" type="button" class="btn btn-default" ng-click="backToList()">Back</button>
                                        </div>
                                        <div class="col-sm-8 text-right">
                                            <button ng-if="!isEditing" type="reset" class="btn btn-default" ng-click="reset($event)">Reset</button>
                                            <button ng-if="showSaveButton" type="submit" class="btn btn-primary" ng-click="save(supplier)">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>