<div class="container-fluid" ng-controller="supplierDetailsController" ng-init="init()">
    <h1 class="page-header">Supplier Details</h1>
    <ol class="breadcrumb">
        <li><a href="#/supplier/list">Suppliers</a></li>
        <li class="active">Details</li>
    </ol>

    <a class="floating-button edit" ng-href="#/supplier/create" role="button" data-toggle="tooltip" data-placement="top" title="Add new record">
    </a>

    <div class="inner-container" ng-class="{'loading':showLoading}" ajust-loading>
        <div class="form-window form-sm">
            <form novalidate name="form">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <h3>
                            <small>{{::supplier.supplierId}}</small> <br/>
                            {{::supplier.name }}
                        </h3>
                        <hr/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Mobile No</label>
                            <input type="text" ng-model="supplier.mobile" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Fixed Line</label>
                            <input type="text" ng-model="supplier.fixedLine" class="form-control input-sm" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input type="email" ng-model="supplier.email" class="form-control input-sm" readonly>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Language Preference</label>
                            <input type="text" ng-model="supplier.languageName" class="form-control input-sm" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Address</label>
                            <textarea name="address" ng-model="supplier.address" rows="3" class="form-control input-sm" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <label>Agent Name</label>
                        <input type="text" name="agentName" ng-model="supplier.agentName" class="form-control input-sm" readonly>
                    </div>
                    <div class="col-sm-6 form-group date">
                        <label>Contact</label>
                        <input type="text" name="agentContact" ng-value="supplier.agentContact" class="form-control input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label>Category</label>
                        <input type="text" name="category" ng-model="supplier.category" class="form-control input-sm" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Other Information</label>
                            <textarea name="otherInfo" ng-model="supplier.otherInfo" rows="2" class="form-control input-sm" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="row form-button-bar">
                    <div class="col-sm-4 text-left">
                        <button type="button" class="btn btn-sm btn-default" ng-click="backToList()">Back</button>
                    </div>
                    <div class="col-sm-8 text-right">
                        <button ng-if="supplier.isActive" type="button" class="btn btn-sm btn-primary" ng-click="editSupplier(supplier)">Edit</button>
                        <!--<button ng-if="supplier.isActive" type="button" class="btn btn-sm btn-primary">Deactivate</button>-->
                        <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#confirmDialog">Delete</button>
                        <!--<button ng-if="!supplier.isActive" type="button" class="btn btn-sm btn-primary" ng-click="changeStatus(supplier)">Activate</button>-->
                    </div>
                </div>
            </form>
        </div>
        <confirm-dialog confirm-message="'Are you sure you want to delete this?'" on-okay="updateDeleteStatus(supplier)"></confirm-dialog>
    </div>
</div>